Repository hmcts/finrem-ccd-definitions, pull requests merged in 2020-07, with the labels that each got.

#121 FR-1597: Applicant Confidential
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/consented/json/CaseField/CaseField.json
  definitions/consented/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab.json
  test/unit/definitions/consented/CaseTypeTab.test.js
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-121

#124 Update to fix build failure on master
  charts/finrem-ccd-definitions/Chart.yaml
  charts/finrem-ccd-definitions/values.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-124

#125 Grant Judge access to applicationRepresented fields
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-125

#128 revert back the changes
  charts/finrem-ccd-definitions/Chart.yaml
  charts/finrem-ccd-definitions/values.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-128

#127 Enabling BSP Fields in Production
  definitions/consented/json/AuthorisationCaseEvent.json
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/consented/json/AuthorisationCaseField.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/consented/json/AuthorisationCaseState.json
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  definitions/consented/json/CaseEventToFields.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/consented/json/CaseField.json
  definitions/consented/json/CaseField/CaseField-nonprod.json
  definitions/consented/json/CaseTypeTab.json
  definitions/consented/json/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/consented/json/FixedLists.json
  definitions/consented/json/FixedLists/FixedLists_FR_fl_StageReached-nonprod.json
  test/unit/definitions/consented/AuthorisationCaseEvent.test.js
  test/unit/definitions/consented/AuthorisationCaseField.test.js
  test/unit/definitions/consented/AuthorisationCaseState.test.js
  test/unit/definitions/consented/CaseEventToFields.test.js
  test/unit/definitions/consented/CaseTypeTab.test.js
  test/unit/definitions/consented/GenericValidation.test.js
  test/unit/definitions/consented/UserEventAuthorisation.test.js
  test/unit/definitions/consented/UserRoleStateAuth.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-127

#129 Added values.aat
  charts/finrem-ccd-definitions/Chart.yaml
  charts/finrem-ccd-definitions/values.aat.template.yaml
  charts/finrem-ccd-definitions/values.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-129

#104 FR-1543: Court details migration
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab.json
  definitions/contested/json/ComplexTypes.json
  definitions/contested/json/FixedLists.json
  definitions/contested/json/WorkBasketInputFields.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-104

#132 add aad identity name
  charts/finrem-ccd-definitions/values.aat.template.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-132

#131 fr-1593: updating privileges so judge can access contested general letter
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-131

#133 Fix staging build failing
  charts/finrem-ccd-definitions/values.aat.template.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-133

#139 Fix staging build failing
  Jenkinsfile_CNP
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-139

#134 Fr 1593 consented gen letter judge
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-134

#140 Updated ReadMe & added Lodash to resolutions to remove vuln version
  README.md
  package.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-140

#142 Integration general order letter
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent-nonprod.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField-nonprod.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes.json
  definitions/contested/json/FixedLists.json
  package.json
  test/unit/definitions/contested/AuthorisationCaseEvent.test.js
  test/unit/definitions/contested/CaseEventToFields.test.js
  test/unit/definitions/contested/CaseTypeTab.test.js
  test/unit/definitions/contested/GenericValidation.test.js
  test/unit/definitions/contested/UserEventAuthorisation.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-142

#106 FR-1715: New General Order
  definitions/consented/json/AuthorisationCaseField.json
  definitions/consented/json/CaseEvent.json
  definitions/consented/json/CaseEventToFields.json
  definitions/consented/json/CaseField.json
  definitions/consented/json/CaseTypeTab.json
  definitions/consented/json/ComplexTypes.json
  definitions/consented/json/FixedLists.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-106

#146 Integration general order letter 2
  definitions/consented/json/AuthorisationCaseField.json
  definitions/consented/json/CaseEvent.json
  definitions/consented/json/CaseEventToFields.json
  definitions/consented/json/CaseField.json
  definitions/consented/json/CaseTypeTab.json
  definitions/consented/json/ComplexTypes.json
  definitions/consented/json/FixedLists.json
  definitions/contested/json/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes.json
  definitions/contested/json/FixedLists.json
  package.json
  test/unit/definitions/consented/AuthorisationCaseField.test.js
  test/unit/definitions/contested/AuthorisationCaseEvent.test.js
  test/unit/definitions/contested/AuthorisationCaseField.test.js
  test/unit/definitions/contested/GenericValidation.test.js
  test/unit/definitions/contested/UserEventAuthorisation.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-146

#130 FR-1470: Adding Contested Not Approved Notification
  definitions/consented/json/CaseEvent.json
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-130

#151 FR-1566: toggle off automate in prod
  README.md
  definitions/consented/json/CaseEvent/CaseEvent-nonprod.json
  definitions/consented/json/CaseEvent/CaseEvent-prod.json
  definitions/consented/json/CaseEvent/CaseEvent.json
  package.json
  test/unit/definitions/consented/CaseEventToFields.test.js
  test/unit/definitions/consented/GenericValidation.test.js
  test/unit/definitions/consented/UserEventAuthorisation.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-151

#144 FR-1569 - adding consent order for contested event and fields and permissions
  definitions/consented/json/CaseField.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-consentOrder-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseState.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/ComplexTypes.json
  definitions/contested/json/FixedLists.json
  definitions/contested/json/State.json
  test/unit/definitions/contested/AuthorisationCaseEvent.test.js
  test/unit/definitions/contested/GenericValidation.test.js
  test/unit/definitions/contested/UserEventAuthorisation.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-144

#156 Tidied up config
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-consentedInContested-nonprod.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/AuthorisationCaseType/AuthorisationCaseType-nonprod.json
  definitions/contested/json/AuthorisationCaseType/AuthorisationCaseType.json
  definitions/contested/json/AuthorisationComplexType/AuthorisationComplexType-nonprod.json
  definitions/contested/json/AuthorisationComplexType/AuthorisationComplexType.json
  definitions/contested/json/Banner/Banner-nonprod.json
  definitions/contested/json/Banner/Banner.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseRoles/CaseRoles-nonprod.json
  definitions/contested/json/CaseRoles/CaseRoles.json
  definitions/contested/json/CaseType/CaseType-nonprod.json
  definitions/contested/json/CaseType/CaseType.json
  definitions/contested/json/ComplexTypes/ComplexTypes-nonprod.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  definitions/contested/json/FixedLists/FixedLists-nonprod.json
  definitions/contested/json/FixedLists/FixedLists.json
  definitions/contested/json/Jurisdiction/Jurisdiction-nonprod.json
  definitions/contested/json/Jurisdiction/Jurisdiction.json
  definitions/contested/json/SearchAlias/SearchAlias-nonprod.json
  definitions/contested/json/SearchAlias/SearchAlias.json
  definitions/contested/json/SearchInputFields/SearchInputFields-nonprod.json
  definitions/contested/json/SearchInputFields/SearchInputFields.json
  definitions/contested/json/SearchResultFields/SearchResultFields-nonprod.json
  definitions/contested/json/SearchResultFields/SearchResultFields.json
  definitions/contested/json/State/State-nonprod.json
  definitions/contested/json/State/State.json
  definitions/contested/json/UserProfile/UserProfile-nonprod.json
  definitions/contested/json/UserProfile/UserProfile.json
  definitions/contested/json/WorkBasketInputFields/WorkBasketInputFields-nonprod.json
  definitions/contested/json/WorkBasketInputFields/WorkBasketInputFields.json
  definitions/contested/json/WorkBasketResultFields/WorkBasketResultFields-nonprod.json
  definitions/contested/json/WorkBasketResultFields/WorkBasketResultFields.json
  package.json
  test/unit/definitions/contested/AuthorisationCaseState.test.js
  test/unit/definitions/contested/AuthorisationCaseType.test.js
  test/unit/definitions/contested/GenericValidation.test.js
  test/unit/definitions/contested/UserEventAuthorisation.test.js
  test/unit/definitions/contested/UserRoleStateAuth.test.js
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-156

#154 FR-1732: consent order process tab
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-154

#161 Added Awaiting Judiciary Response (consent) state and event
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/contested/json/State/State.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-161

#162 FR-1570 & FR-1758: consent in contested application approved
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/State/State.json
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-162

#163 FR-1764: Turn off the old Consent Process in contested
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-consentedInContested-prod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/CaseEvent/CaseEvent-consentedInContested-prod.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-consentedInContested-prod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-163

#164 FR-1755: automate prod config
  Jenkinsfile_CNP
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-164

#166 FR-1733: updating end states of create general order
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-166
