Repository hmcts/finrem-ccd-definitions, pull requests merged in 2020-11, with the labels that each got.

#294 FR-1865 & FR-1866: Allow caseworkers to trigger new events
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-294

#296 FR-1870: update courtadmin permissions fix
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-296

#299 fix failed tests on nightly pipeline.
  test/functional/codecept.conf.js
  test/functional/pages/tab-data-verification/tab-data-verification.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-299

#302 Add contested ready for hearing test
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  test/data/ccd-contested-allocation-directions.json
  test/data/ccd-contested-list-for-hearing.json
  test/data/verify-contested-tab-data.json
  test/functional/contested_test.js
  test/functional/pages/tab-data-verification/tab-data-verification.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-302

#305 create contested case
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  test/functional/contested-respondent_test.js
  test/functional/pages/org-assign-cases/org-assign-cases-to-respondent.js
  test/functional/steps_file.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-305

#319 remove org name to fix master build
  definitions/consented/json/AuthorisationComplexType/AuthorisationComplexType-respSol-nonprod.json
  definitions/consented/json/AuthorisationComplexType/AuthorisationComplexType-shareAcase-nonprod.json
  definitions/consented/json/CaseEventToComplexTypes/CaseEventToComplexTypes-respSolJourney-nonprod.json
  definitions/consented/json/CaseEventToComplexTypes/CaseEventToComplexTypes-shareAcase-nonprod.json
  definitions/contested/json/AuthorisationComplexType/AuthorisationComplexType-respSol-nonprod.json
  definitions/contested/json/AuthorisationComplexType/AuthorisationComplexType-shareAcase-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes-respSolJourney-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes-shareAcase-nonprod.json
  test/data/ccd-demo-consented-basic-data.json
  test/data/ccd-demo-contested-basic-data.json
  test/functional/pages/respondent-details/respondent-details.js
  test/functional/pages/solicitor-create/solicitor-create.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-319

#298 FR-1789: Amend final order Consent in Contested
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-298

#309 RPET-542 Add court filters to case list page
  definitions/consented/json/WorkBasketInputFields.json
  definitions/contested/json/WorkBasketInputFields/WorkBasketInputFields.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-309

#291 Fr 1511 directions order
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-offlineNotifications-nonprod.json
  definitions/contested/json/CaseEvent/CaseEvent-OfflineNotifications-nonprod.json
  definitions/contested/json/CaseEvent/CaseEvent-prod.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-291

#325 add search organisation on solicitor journey tests
  test/functional/pages/case-authorisation/case-authorisation.js
  test/functional/pages/respondent-details/respondent-details.js
  test/functional/pages/solicitor-create/solicitor-create.js
  test/functional/pages/tab-data-verification/tab-data-verification.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-325

#324 FR-1901: update labels
  definitions/consented/json/ComplexTypes.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-324

#331 Prepared config for releasing Consent Order In Contested
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-consentedInContested-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-consentedInContested-prod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/CaseEvent/CaseEvent-consentedInContested-prod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-consentedInContested-prod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-331

#332 FR General Application Release
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-generalApplication-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseField/CaseField-nonprod.json
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-332

#334 add solicitor org for API case creation tests
  test/data/ccd-consented-basic-data.json
  test/data/ccd-contested-basic-data.json
  test/functional/contested-respondent_test.js
  test/functional/steps_file.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-334

#326 FR-1912: Changed post state of FR_generalOrderConsent to consentedOrderNotApproved
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-326

#338 RELEASE: Share a Case
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState-prod.json
  definitions/consented/json/AuthorisationComplexType/AuthorisationComplexType-respSol-nonprod.json
  definitions/consented/json/AuthorisationComplexType/AuthorisationComplexType-shareAcase-nonprod.json
  definitions/consented/json/CaseEvent/CaseEvent-nonprod.json
  definitions/consented/json/CaseEvent/CaseEvent-prod.json
  definitions/consented/json/CaseEventToComplexTypes/CaseEventToComplexTypes-shareAcase-nonprod.json
  definitions/consented/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields-shareACase-nonprod.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-respSol-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-shareAcase-nonprod.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  definitions/contested/json/AuthorisationComplexType/AuthorisationComplexType-nonprod.json
  definitions/contested/json/AuthorisationComplexType/AuthorisationComplexType-respSol-nonprod.json
  definitions/contested/json/AuthorisationComplexType/AuthorisationComplexType-shareAcase-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes-shareAcase-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-shareACase-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseRoles/CaseRoles-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  test/unit/definitions/consented/AuthorisationCaseEvent.test.js
  test/unit/definitions/consented/AuthorisationCaseState.test.js
  test/unit/definitions/consented/CaseEventToFields.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-338

#340 RPET-631: Update Jenkins_CNP to handle new judge details secret
  Jenkinsfile_CNP
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-340
