Repository hmcts/finrem-ccd-definitions, pull requests merged in 2020-05, with the labels that each got.

#68 Updating information about how to use CCD in AKS
  README.md
Labels: ns:financial-remedy, rel:finrem-ccd-definitions-pr-68

#71 RPET-160: contested content update
  definitions/contested/json/CaseField.json
Labels: ns:financial-remedy, rel:finrem-ccd-definitions-pr-71

#70 BSP-287 & BSP-289: Add callbacks for 'assign to judge' event and new prestate for FR_HWFDecisionMade
  definitions/consented/json/CaseEvent.json
Labels: ns:financial-remedy, rel:finrem-ccd-definitions-pr-70

#67 BSP-391: fixing case documents order
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseTypeTab.json
Labels: ns:financial-remedy, rel:finrem-ccd-definitions-pr-67

#76 Remove old unused accounts
  README.md
  definitions/consented/json/UserProfile.json
  definitions/contested/json/UserProfile.json
Labels: ns:financial-remedy, rel:finrem-ccd-definitions-pr-76

#75 Fr 1468 contest order notification
  definitions/contested/json/CaseEvent.json
Labels: ns:financial-remedy, rel:finrem-ccd-definitions-pr-75

#77 adding callback to prepare for hearing order sent to send notification
  definitions/contested/json/CaseEvent.json
Labels: ns:financial-remedy, rel:finrem-ccd-definitions-pr-77

#72 Moving approvedConsentOrderNotificationLetter to main case data
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseField/CaseField-nonprod.json
  definitions/consented/json/CaseField/CaseField.json
  definitions/consented/json/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/consented/json/CaseTypeTab/CaseTypeTab.json
  definitions/consented/json/ComplexTypes.json
  definitions/consented/json/ComplexTypes/ComplexTypes-nonprod.json
  test/unit/definitions/consented/CaseTypeTab.test.js
  test/unit/definitions/consented/GenericValidation.test.js
Labels: ns:financial-remedy, rel:finrem-ccd-definitions-pr-72

#81 Fr 1685 ccd document upload
  Jenkinsfile_CNP
  charts/finrem-ccd-definitions/Chart.yaml
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, rel:finrem-ccd-definitions-pr-81

#85 FR_1687: Updated permissions for DischargePeriodicalPaymentSubstituteFor field
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, rel:finrem-ccd-definitions-pr-85

#78 RELEASE: Judge to nominate solicitor to draft order + email trigger
  definitions/contested/json/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent.json
  definitions/contested/json/CaseEventToFields.json
  definitions/contested/json/CaseField.json
  definitions/contested/json/CaseTypeTab.json
  definitions/contested/json/FixedLists.json
  definitions/contested/json/SearchAlias.json
Labels: ns:financial-remedy, rel:finrem-ccd-definitions-pr-78

#90 FR-1664 & FR-1665 - removing consentOrderApprovedNotificationLetter document field
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/consented/json/CaseField/CaseField-nonprod.json
  definitions/consented/json/CaseTypeTab/CaseTypeTab-nonprod.json
Labels: ns:financial-remedy, rel:finrem-ccd-definitions-pr-90

#83 creating new additional info for hearing field
  definitions/contested/json/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToFields.json
  definitions/contested/json/CaseField.json
  definitions/contested/json/CaseTypeTab.json
Labels: ns:financial-remedy, rel:finrem-ccd-definitions-pr-83

#89 updating FR contact details
  definitions/contested/json/CaseField.json
Labels: ns:financial-remedy, rel:finrem-ccd-definitions-pr-89

#87 FR-1546 - adding create permission to judge for casenotes
  definitions/contested/json/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseState.json
Labels: ns:financial-remedy, rel:finrem-ccd-definitions-pr-87

#88 Fr 1441 adding judge pension provider
  definitions/contested/json/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToFields.json
  definitions/contested/json/CaseField.json
  definitions/contested/json/CaseTypeTab.json
  definitions/contested/json/FixedLists.json
Labels: ns:financial-remedy, rel:finrem-ccd-definitions-pr-88
