Repository hmcts/finrem-ccd-definitions, pull requests merged in 2020-12, with the labels that each got.

#343 specific xui version
  charts/finrem-ccd-definitions/Chart.yaml
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-343

#328 RPET-402: Update Judge role to see scanned documents
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-328

#350 Revert "RPET-402: Update Judge role to see scanned documents"
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-350

#351 FR-1939: Toggle on offline notifications
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-offlineNotifications-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent-OfflineNotifications-nonprod.json
  definitions/contested/json/CaseEvent/CaseEvent-prod.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  test/unit/definitions/contested/CaseEventToFields.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-351

#347 RPET-649: Update jenkins pipeline to handle new judge secrets
  Jenkinsfile_CNP
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-347

#297 RPET-164 Update FRC/Court
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/consented/json/CaseField/CaseField.json
  definitions/consented/json/CaseTypeTab/CaseTypeTab.json
  definitions/consented/json/FixedLists/FixedLists.json
  definitions/consented/json/WorkBasketInputFields.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  definitions/contested/json/FixedLists/FixedLists.json
  definitions/contested/json/WorkBasketInputFields/WorkBasketInputFields.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-297

#352 RPET-164 fix CVE 1589 Prototype Pollution on ini package
  package.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-352

#345 Rpet 164 cleanup
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField-respSol-nonprod.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/consented/json/CaseField/CaseField.json
  definitions/consented/json/CaseTypeTab/CaseTypeTab.json
  definitions/consented/json/FixedLists/FixedLists.json
  definitions/consented/json/WorkBasketInputFields.json
  test/data/ccd-demo-consented-basic-data.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-345

#272 FR-1845: Update authorisation role to use case roles
  definitions/consented/json/CaseTypeTab/CaseTypeTab-shareACase-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-respSol-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-respSol-prod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-respSol-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-shareAcase-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState-respSol-nonprod.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState-respSol-prod.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/AuthorisationCaseType/AuthorisationCaseType-respSol-nonprod.json
  definitions/contested/json/CaseEvent/CaseEvent-respSol-nonprod.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseRoles/CaseRoles.json
  test/unit/definitions/contested/UserEventAuthorisation.test.js
  test/unit/definitions/contested/UserRoleStateAuth.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-272

#355 RPET-402: Update Judge role to see scanned documents
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-355

#346 FR-1885: Confidential Coversheet
  definitions/common/json/AuthorisationCaseField/AuthorisationCaseField-common.json
  definitions/common/json/CaseField/CaseField-common.json
  definitions/consented/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-346

#357 FR-1917: respondent order available email
  definitions/consented/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-357
