Repository hmcts/finrem-ccd-definitions, pull requests merged in 2020-08, with the labels that each got.

#169 FR-1769-add consented, contested test creation
  .eslintrc.json
  Jenkinsfile_CNP
  package.json
  test/data/ccd-consented-basic-data.json
  test/data/ccd-contested-basic-data.json
  test/data/ccd-hwf-consented-payment.json
  test/data/ccd-hwf-contested-payment.json
  test/functional/codecept.conf.js
  test/functional/consented_test.js
  test/functional/contested_test.js
  test/helpers/utils.js
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-169

#171 add reporter for functional tests
  Jenkinsfile_CNP
  package.json
  test/functional/codecept.conf.js
  test/helpers/utils.js
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-171

#173 FR-1769 Added tests for allocating cases to judge
  test/data/ccd-consented-case-worker-issue-data.json
  test/data/ccd-contested-case-worker-issue-data.json
  test/functional/consented_test.js
  test/functional/contested_test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-173

#175 FR-1769 Adding nightly pipeline configuration
  Jenkinsfile_nightly
  package.json
  test/functional/admin_test.js
  test/functional/consented_test.js
  test/functional/contested_test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-175

#153 FR-1649: Contested Draft Order Not Approved
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  definitions/contested/json/FixedLists/FixedLists.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-153

#180 FR-1582: Judge & CourtAdmin can trigger 'General Order (consent)'
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  package.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-180

#178 added more tests and solicitor create case test initiated for nightly build
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  test/data/ccd-contested-to-consented.json
  test/functional/codecept.conf.js
  test/functional/consented_test.js
  test/functional/contested_test.js
  test/functional/pages/common/common.js
  test/functional/pages/create-case/create-case.js
  test/functional/steps_file.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-178

#183 RPET-327: Need to add new judges to consented
  Jenkinsfile_CNP
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-183

#182 Solicitor HWF case submitted
  test/data/dummy.pdf
  test/data/fileupload.txt
  test/functional/codecept.conf.js
  test/functional/consented_test.js
  test/functional/pages/amend-application-details/amend-application-details.js
  test/functional/pages/applicant-details/applicant-details.js
  test/functional/pages/case-authorisation/case-authorisation.js
  test/functional/pages/check-your-answers/check-your-answers.js
  test/functional/pages/common/common.js
  test/functional/pages/consent-order/consent-order.js
  test/functional/pages/d81-question/d81-question.js
  test/functional/pages/divorce-details/divorce-details.js
  test/functional/pages/final-payment-submission-page/final-payment-submission-page.js
  test/functional/pages/hwf-payment-details/hwf-payment-detail.js
  test/functional/pages/nature-of-application/nature-of-application.js
  test/functional/pages/optional-documents/optional-documents.js
  test/functional/pages/order-for-children/order-for-children.js
  test/functional/pages/payment-page/payment-page.js
  test/functional/pages/payment-submission/payment-submisison.js
  test/functional/pages/respondent-details/respondent-details.js
  test/functional/pages/saving-application-information/saving-application-information.js
  test/functional/pages/solicitor-create/solicitor-create.js
  test/functional/steps_file.js
  test/helpers/utils.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-182

#188 FR-1769 tab data verification after solicitor submit case
  test/data/verify-tab-data.json
  test/functional/consented_test.js
  test/functional/pages/case-authorisation/case-authorisation.js
  test/functional/pages/tab-data-verification/consented-tab-data-verification.js
  test/functional/steps_file.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-188

#170 FR-1576: consent order not approved
  README.md
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  definitions/contested/json/FixedLists/FixedLists.json
  definitions/contested/json/State/State.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-170

#174 adding endpoint to stamp approved consent orders in contests and addi…
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-174

#190 FR-1582: removing consent state from create general order and adding missing c…
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-190

#186 add common directory and update scripts to copy across before generation
  .gitignore
  definitions/common/json/CaseField/CaseField-common.json
  definitions/consented/json/CaseField/CaseField.json
  definitions/contested/json/CaseField/CaseField.json
  package.json
  test/unit/definitions/consented/CaseEventToFields.test.js
  test/unit/definitions/consented/CaseTypeTab.test.js
  test/unit/definitions/consented/GenericValidation.test.js
  test/unit/definitions/contested/CaseEventToFields.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-186

#177 FR-1756: Consent in Contested - Mini Form A
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/FixedLists/FixedLists.json
  package.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-177

#181 FR-1584: adding call to notify endpoint for general order consent in contested
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-181

#185 RPET-378: Feature toggle pension document upload
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState-prod.json
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/consented/json/CaseEvent/CaseEvent-nonprod.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  test/unit/definitions/consented/AuthorisationCaseEvent.test.js
  test/unit/definitions/consented/AuthorisationCaseState.test.js
  test/unit/definitions/consented/CaseEventToFields.test.js
  test/unit/definitions/consented/GenericValidation.test.js
  test/unit/definitions/consented/UserEventAuthorisation.test.js
  test/unit/definitions/consented/UserRoleStateAuth.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-185

#194 toggle on automated states in PROD
  definitions/consented/json/CaseEvent/CaseEvent-nonprod.json
  definitions/consented/json/CaseEvent/CaseEvent-prod.json
  definitions/consented/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-194

#195 RPET-390: Remove toggle for pension document upload
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState-prod.json
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/consented/json/CaseEvent/CaseEvent-nonprod.json
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-195

#197 RPET-390: update display order
  definitions/consented/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-197

#191 verify tab data for consented- after event trigger and state changes
  README.md
  test/data/ccd-consented-basic-data.json
  test/data/ccd-consented-case-worker-issue-data.json
  test/data/ccd-contested-basic-data.json
  test/data/ccd-contested-case-worker-issue-data.json
  test/data/ccd-hwf-contested-payment.json
  test/data/verify-consented-tab-data.json
  test/data/verify-contested-tab-data.json
  test/functional/consented_test.js
  test/functional/contested_test.js
  test/functional/pages/amend-application-details/amend-application-details.js
  test/functional/pages/applicant-details/applicant-details.js
  test/functional/pages/case-authorisation/case-authorisation.js
  test/functional/pages/check-your-answers/check-your-answers.js
  test/functional/pages/contested-pages/apply-court.js
  test/functional/pages/contested-pages/complexity-list.js
  test/functional/pages/contested-pages/fast-track.js
  test/functional/pages/contested-pages/mediation-questions.js
  test/functional/pages/contested-pages/miam-certification.js
  test/functional/pages/divorce-details/divorce-details.js
  test/functional/pages/nature-of-application/nature-of-application.js
  test/functional/pages/optional-documents/optional-documents.js
  test/functional/pages/order-for-children/order-for-children.js
  test/functional/pages/respondent-details/respondent-details.js
  test/functional/pages/solicitor-create/solicitor-create.js
  test/functional/pages/tab-data-verification/consented-tab-data-verification.js
  test/functional/pages/tab-data-verification/tab-data-verification.js
  test/functional/steps_file.js
  test/unit/definitions/contested/CaseEventToFields.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-191

#202 refactor test code
  test/functional/consented_test.js
  test/functional/contested_test.js
  test/functional/pages/amend-application-details/amend-application-details.js
  test/functional/pages/applicant-details/applicant-details.js
  test/functional/pages/tab-data-verification/tab-data-verification.js
  test/functional/steps_file.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-202

#203 Append git hash
  Jenkinsfile_CNP
  package.json
  test/functional/admin_test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-203

#208 add print service to PR pods
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-208

#193 RPET-304: allow solicitors to upload documents
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/consented/json/AuthorisationCaseField.json
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/consented/json/CaseField/CaseField.json
  definitions/consented/json/CaseTypeTab.json
  definitions/consented/json/ComplexTypes.json
  definitions/consented/json/FixedLists/FixedLists.json
  definitions/consented/json/State.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-193

#204 RPET-374: Consented start page content update
  definitions/consented/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-204

#198 FR-1740: Add paper case event to contested
  definitions/common/json/AuthorisationCaseField/AuthorisationCaseField-common.json
  definitions/common/json/CaseField/CaseField-common.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseField/CaseField.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-newPaperCase-nonprod.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  test/unit/definitions/consented/AuthorisationCaseField.test.js
  test/unit/definitions/consented/CaseTypeTab.test.js
  test/unit/definitions/consented/GenericValidation.test.js
  test/unit/definitions/consented/UserEventAuthorisation.test.js
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-198

#199 adding send order event and permissions. Updating cos url for testing
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-199

#209 FR-1768: send order not approved
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-209

#211 FR-1487: Bulk print docs
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-211
