Repository hmcts/finrem-ccd-definitions, pull requests merged in 2020-09, with the labels that each got.

#218 PHI Release
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent-nonprod.json
  definitions/contested/json/CaseEvent/CaseEvent-prod.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseField/CaseField-nonprod.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes-nonprod.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  definitions/contested/json/FixedLists/FixedLists-nonprod.json
  definitions/contested/json/FixedLists/FixedLists-prod.json
  definitions/contested/json/FixedLists/FixedLists.json
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-218

#215 FR-1485 contested general order
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-215

#227 Address vuln breaking pipeline
  package.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-227

#220 FR-1542: Create General Application
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-generalApplication-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  definitions/contested/json/State/State.json
  package.json
  yarn-audit-known-issues
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-220

#233 FR-1815: make paper case fields optional
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-233

#234 FR-1805: General application refer to judge
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/State/State.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-234

#235 paper case tab data verification enabled on nightly pipeline
  test/data/ccd-contested-paper-case-basic-data.json
  test/data/verify-contested-paper-case-tab-data.json
  test/functional/contested_test.js
  test/functional/pages/tab-data-verification/tab-data-verification.js
  test/unit/definitions/consented/CaseTypeTab.test.js
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-235

#240 Create general application test
  test/data/ccd-contested-general-applicaition.json
  test/data/verify-contested-tab-data.json
  test/functional/contested_test.js
  test/functional/pages/tab-data-verification/tab-data-verification.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-240

#242 fix failed test on nightly
  test/data/verify-contested-tab-data.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-242

#237 Adding Allocation Questionnaire to 'Additional Documents' List
  definitions/contested/json/FixedLists/FixedLists.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-237

#239 FR-1817: Update ordering of nature of application checklist to match …
  definitions/consented/json/FixedLists/FixedLists.json
  definitions/contested/json/FixedLists/FixedLists.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-239

#236 FR-1433: General Application Outcome
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-generalApplication-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/FixedLists/FixedLists.json
  definitions/contested/json/State/State.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-236
