Repository hmcts/finrem-ccd-definitions, pull requests merged in 2020-10, with the labels that each got.

#243 Rpet 413 filter workbasket by lastmodified
  definitions/consented/json/WorkBasketResultFields.json
  definitions/contested/json/WorkBasketResultFields/WorkBasketResultFields.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-243

#244 adding config for application policy
  definitions/common/json/CaseField/CaseField-common.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/consented/json/AuthorisationCaseType.json
  definitions/consented/json/CaseEventToComplexTypes.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields-shareACase-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/AuthorisationCaseType/AuthorisationCaseType.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-shareACase-nonprod.json
  test/functional/admin_test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-244

#251 Fr 1774 retrying failed user tokens
  .eslintignore
  test/helpers/utils.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-251

#255 Keyvault fix
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-255

#256 reverting callback type to submit for paper case
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-256

#247 FR-1813: General order email
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-247

#253 Fr 1761 awaiting judicary response notification
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-253

#259 Fr 1778 fixing paper case defaults
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-259

#263 Added missing permissions for respSol fields
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/AuthorisationComplexType.json
  definitions/consented/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-263

#264 Remove unneeded proxy configuration
  test/functional/codecept.conf.js
  test/helpers/utils.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-264

#241 FR-1806 general application directions
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-generalApplication-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  definitions/contested/json/FixedLists/FixedLists.json
  test/unit/definitions/consented/UserEventAuthorisation.test.js
  test/unit/definitions/consented/UserRoleStateAuth.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-241

#267 Fix nightly tests
  Jenkinsfile_CNP
  test/data/ccd-consented-basic-data.json
  test/data/ccd-contested-basic-data.json
  test/data/ccd-contested-general-applicaition.json
  test/data/ccd-contested-paper-case-basic-data.json
  test/data/ccd-contested-to-consented.json
  test/data/verify-contested-tab-data.json
  test/functional/pages/respondent-details/respondent-details.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-267

#265 FR-1524: Additional Hearing Document
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-265

#268 Fix master config - Moved all references of 'caseworker-caa'
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField-respSol-nonprod.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState-respSol-nonprod.json
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/consented/json/AuthorisationCaseType/AuthorisationCaseType-respSol-nonprod.json
  definitions/consented/json/AuthorisationCaseType/AuthorisationCaseType.json
  definitions/consented/json/AuthorisationComplexType/AuthorisationComplexType-respSol-nonprod.json
  definitions/consented/json/AuthorisationComplexType/AuthorisationComplexType-shareAcase-nonprod.json
  definitions/consented/json/AuthorisationComplexType/AuthorisationComplexType.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-respSol-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-shareAcase-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState-respSol-nonprod.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/AuthorisationCaseType/AuthorisationCaseType-respSol-nonprod.json
  definitions/contested/json/AuthorisationCaseType/AuthorisationCaseType.json
  definitions/contested/json/AuthorisationComplexType/AuthorisationComplexType-respSol-nonprod.json
  definitions/contested/json/AuthorisationComplexType/AuthorisationComplexType-shareAcase-nonprod.json
  definitions/contested/json/AuthorisationComplexType/AuthorisationComplexType.json
  test/unit/definitions/consented/AuthorisationCaseType.test.js
  test/unit/definitions/consented/GenericValidation.test.js
  test/unit/definitions/consented/UserRoleStateAuth.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-268

#271 Cleaned up and removed redundant config
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/consented/json/AuthorisationCaseType/AuthorisationCaseType.json
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-consentedInContested-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-consentedInContested-prod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-generalApplication-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/AuthorisationCaseType/AuthorisationCaseType.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-271

#277 update respondent org details
  test/data/ccd-demo-consented-basic-data.json
  test/data/ccd-demo-contested-basic-data.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-277

#269 FR-1840 amend case
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-respSolJourney-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-269

#278 Added Demo Like Prod config files
  package.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-278

#279 Feature/demo prod like
  package.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-279

#283 add consent-in-contested and paper case tests.
  test/data/ccd-demo-contested-paper-case-basic-data.json
  test/data/ccd-demo-contested-to-consented.json
  test/functional/contested_test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-283

#282 Dev/test tomek
  charts/finrem-ccd-definitions/Chart.yaml
  charts/finrem-ccd-definitions/requirements.yaml
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-282

#281 Changed orgPolicy to COMPLEX from optional/mandatory
  definitions/consented/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields-respSol-nonprod.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields-shareACase-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-respSolJourney-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-shareACase-nonprod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-281

#284 disable idam pr in aat
  charts/finrem-ccd-definitions/Chart.yaml
  charts/finrem-ccd-definitions/requirements.yaml
  charts/finrem-ccd-definitions/values.aat.template.yaml
  charts/finrem-ccd-definitions/values.preview.template.yaml
  charts/finrem-ccd-definitions/values.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-284

#285 Disable idam aat
  charts/finrem-ccd-definitions/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-285

#287 run tests on XUI aat
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  test/functional/consented_test.js
  test/functional/contested_test.js
  test/functional/pages/create-case/create-case.js
  test/functional/pages/solicitor-create/solicitor-create.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-287

#295 Removed CaseEventToComplexTypes to nonprod files for share a case etc
  definitions/consented/json/CaseEventToComplexTypes/CaseEventToComplexTypes-respSolJourney-nonprod.json
  definitions/consented/json/CaseEventToComplexTypes/CaseEventToComplexTypes-shareAcase-nonprod.json
  definitions/consented/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes-respSolJourney-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes-shareAcase-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-295
