Repository hmcts/finrem-ccd-definitions, pull requests merged in 2021-04, with the labels that each got.

#443 E2E test for consent case approval
  test/data/ccd-caseworker-send-order.json
  test/data/ccd-consented-judge-approve-data.json
  test/data/verify-consented-tab-data.json
  test/functional/consented_test.js
  test/functional/pages/tab-data-verification/tab-data-verification.js
  test/functional/steps_file.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-443

#444 INC5183093: Standardise case submission callbacks
  definitions/consented/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-444

#440 RPET-687: Implementing Email for Transfer to Local Courts
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/consented/json/CaseField/CaseField.json
  definitions/consented/json/CaseTypeTab/CaseTypeTab.json
  definitions/consented/json/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-440

#445 RPET-858: Adding Divorce Case Number to search for Contested
  definitions/contested/json/SearchInputFields/SearchInputFields.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-445

#446 Move generalLetterCollection to CaseDocuments Tab
  definitions/contested/json/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-446

#449 E2E test to check Contested judge approval
  test/data/ccd-contested-caseworker-upload-order.json
  test/data/ccd-contested-judge-approved.json
  test/data/ccd-contested-solicitor-draft-direction-order.json
  test/data/ccd-contested-solicitor-draft-order.json
  test/data/verify-contested-tab-data.json
  test/functional/contested_test.js
  test/functional/pages/tab-data-verification/tab-data-verification.js
  test/functional/steps_file.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-449

#448 RPET-691: Label added for warning of FRCs
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-448

#447 RPET-582- Updating Logic for complexity field to correct value
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-447

#453 Bumping CCD Chart to 5.0.2
  charts/finrem-ccd-definitions/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-453

#456 Updating to NorthEast, as this FRC is NE not NW
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-456

#452 add cross browser tests
  Jenkinsfile_nightly
  bin/run-crossbrowser-tests.sh
  package.json
  test/crossbrowser/supportedBrowsers.js
  test/functional/consented_test.js
  test/functional/contested_test.js
  test/functional/pages/amend-application-details/amend-application-details.js
  test/functional/pages/applicant-details/applicant-details.js
  test/functional/pages/case-authorisation/case-authorisation.js
  test/functional/pages/check-your-answers/check-your-answers.js
  test/functional/pages/common/common.js
  test/functional/pages/consent-order/consent-order.js
  test/functional/pages/create-case/create-case.js
  test/functional/pages/divorce-details/divorce-details.js
  test/functional/pages/final-payment-submission-page/final-payment-submission-page.js
  test/functional/pages/hwf-payment-details/hwf-payment-detail.js
  test/functional/pages/nature-of-application/nature-of-application.js
  test/functional/pages/optional-documents/optional-documents.js
  test/functional/pages/order-for-children/order-for-children.js
  test/functional/pages/org-assign-cases/org-assign-cases-to-respondent.js
  test/functional/pages/payment-page/payment-page.js
  test/functional/pages/payment-submission/payment-submisison.js
  test/functional/pages/respondent-details/respondent-details.js
  test/functional/pages/saving-application-information/saving-application-information.js
  test/functional/pages/solicitor-create/solicitor-create.js
  test/functional/saucelabs.conf.js
  test/functional/steps_file.js
  test/helpers/SauceLabsBrowserHelper.js
  test/helpers/sauceLabsReportingHelper.js
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-452
