Repository hmcts/finrem-ccd-definitions, pull requests merged in 2021-08, with the labels that each got.

#505 DFR-148: Update documentation to help track judge list change history
  README.md
  charts/finrem-ccd-definitions/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-505

#508 Change CCD config
  Jenkinsfile_CNP
  charts/finrem-ccd-definitions/values.preview.template.yaml
  package.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-508

#518 DFR-500: Update DJ list
  README.md
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-518
