Repository hmcts/finrem-ccd-definitions, pull requests merged in 2021-07, with the labels that each got.

#471 RPET-202 : Update CaseEventToFields.json to make DA Upload & DA date mandatory
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-471

#468 RPET 902: Update Gatekeeping & Allocation screens on contested FR
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-468

#464 RPET-392 Display the FRC court details
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  package.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-464

#496 Fix package preview link
  package.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-496
