Repository hmcts/finrem-ccd-definitions, pull requests merged in 2021-01, with the labels that each got.

#361 Fixing lib vulnerability and stale XUI image
  charts/finrem-ccd-definitions/values.preview.template.yaml
  package.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-361

#363 update test data verification .
  test/data/ccd-contested-basic-data.json
  test/functional/consented_test.js
  test/functional/contested_test.js
  test/functional/pages/amend-application-details/amend-application-details.js
  test/functional/pages/case-authorisation/case-authorisation.js
  test/functional/pages/saving-application-information/saving-application-information.js
  test/functional/pages/share-case-in-org/share-case-in-org.js
  test/functional/pages/tab-data-verification/tab-data-verification.js
  test/functional/steps_file.js
  test/helpers/utils.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-363

#364 fix tests failed by increasing wait text time.
  test/functional/pages/payment-page/payment-page.js
  test/functional/pages/solicitor-create/solicitor-create.js
  test/functional/pages/tab-data-verification/tab-data-verification.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-364

#366 fixing temperamental issues on nightly pipeline
  test/functional/consented_test.js
  test/functional/contested_test.js
  test/functional/pages/amend-application-details/amend-application-details.js
  test/functional/pages/respondent-details/respondent-details.js
  test/functional/pages/saving-application-information/saving-application-information.js
  test/functional/pages/share-case-in-org/share-case-in-org.js
  test/functional/pages/tab-data-verification/tab-data-verification.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-366

#367 RELEASE: Share a Case
  definitions/consented/json/AuthorisationComplexType/AuthorisationComplexType-shareAcase-nonprod.json
  definitions/consented/json/AuthorisationComplexType/AuthorisationComplexType.json
  definitions/consented/json/CaseEventToComplexTypes/CaseEventToComplexTypes-shareAcase-nonprod.json
  definitions/consented/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields-shareACase-nonprod.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/consented/json/CaseTypeTab/CaseTypeTab-respSolJourney-nonprod.json
  definitions/contested/json/AuthorisationComplexType/AuthorisationComplexType-shareAcase-nonprod.json
  definitions/contested/json/AuthorisationComplexType/AuthorisationComplexType.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes-shareAcase-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-shareACase-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-367

#368 Toggle off CAA auth
  definitions/consented/json/AuthorisationComplexType/AuthorisationComplexType-respSol-nonprod.json
  definitions/consented/json/AuthorisationComplexType/AuthorisationComplexType.json
  definitions/contested/json/AuthorisationComplexType/AuthorisationComplexType-respSol-nonprod.json
  definitions/contested/json/AuthorisationComplexType/AuthorisationComplexType.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-368

#370 RPET-680 Update jenkins pipeline to handle new judge secrets
  Jenkinsfile_CNP
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-370

#372 fixing demo share case with respondent test
  test/data/ccd-demo-contested-basic-data.json
  test/functional/pages/org-assign-cases/org-assign-cases-to-respondent.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-372

#365 Creating new Confidential Document collections for filtered documents
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-respSol-nonprod.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes-respSol-nonprod.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-365

#374 Remove respSolOrg field from newPaperCase journey and toggle off
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField-respSol-nonprod.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-respSolJourney-nonprod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-374

#376 Toggle off /migrate in Consented, Enable in Contested
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-376

#373 FR-1853: judge add and approve draft order
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-373

#380 FR-1931 RespSol edit their email address
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent-respSol-nonprod.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField-respSol-nonprod.json
  definitions/consented/json/CaseEvent/CaseEvent-respSol-nonprod.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields-respSol-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-respSol-nonprod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-380

#378 FR-1960: Toggle migration event off
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-378

#384 FR-1933 consent confidential details
  definitions/consented/json/CaseEventToFields/CaseEventToFields-respSol-nonprod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-384
