Repository hmcts/finrem-ccd-definitions, pull requests merged in 2021-02, with the labels that each got.

#393 Enable CAA Auths
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField-respSol-nonprod.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState-respSol-nonprod.json
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/consented/json/AuthorisationCaseType/AuthorisationCaseType-respSol-nonprod.json
  definitions/consented/json/AuthorisationCaseType/AuthorisationCaseType.json
  definitions/consented/json/AuthorisationComplexType/AuthorisationComplexType-respSol-nonprod.json
  definitions/consented/json/AuthorisationComplexType/AuthorisationComplexType.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-respSol-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState-respSol-nonprod.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/AuthorisationCaseType/AuthorisationCaseType-respSol-nonprod.json
  definitions/contested/json/AuthorisationCaseType/AuthorisationCaseType.json
  definitions/contested/json/AuthorisationComplexType/AuthorisationComplexType-respSol-nonprod.json
  definitions/contested/json/AuthorisationComplexType/AuthorisationComplexType.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-393

#394 make aat prodlike
  Jenkinsfile_CNP
  package.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-394

#396 delete preview entries from AAT
  Jenkinsfile_CNP
  package.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-396

#387 FR-1962 Contested - Respondent Solicitor updates Contact Details
  definitions/contested/json/CaseEventToFields/CaseEventToFields-respSolJourney-nonprod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-387

#386 Moving finalOrderCollection to Orders Tab
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-386

#389 FR-1886 Adding field for respondent solicitor email notfication consent
  definitions/common/json/AuthorisationCaseField/AuthorisationCaseField-common.json
  definitions/common/json/CaseField/CaseField-common.json
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent-respSol-nonprod.json
  definitions/consented/json/CaseEvent/CaseEvent-respSol-nonprod.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields-respSol-nonprod.json
  definitions/consented/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/CaseEvent/CaseEvent-respSol-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-respSolJourney-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-389

#403 Disabling app insights
  charts/finrem-ccd-definitions/Chart.yaml
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-403

#391 FR-1872 contested approved order letter
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-391

#405 Update Helm chart API version to v2
  charts/finrem-ccd-definitions/Chart.yaml
  charts/finrem-ccd-definitions/requirements.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-405

#399 allow solicitor to amend app org policy
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/consented/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-399

#409 Update base chart to latest version
  charts/finrem-ccd-definitions/Chart.yaml
  package.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-409

#407 Adding Reserve for Judge Event
  Jenkinsfile_CNP
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/FixedLists/FixedLists-nonprod.json
  definitions/contested/json/WorkBasketInputFields/WorkBasketInputFields.json
  definitions/contested/json/WorkBasketResultFields/WorkBasketResultFields.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-407

#406 FR-1963 Amend document display in Contested
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-respSol-nonprod.json
  definitions/contested/json/CaseField/CaseField-respSolJourney-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-respSol-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes-respSol-nonprod.json
  definitions/contested/json/FixedLists/FixedLists.json
  package.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-406

#412 Cos pod on ccd pr
  Jenkinsfile_CNP
  package.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-412

#415 Remove UserProfile for Contested
  Jenkinsfile_CNP
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-415

#416 Add new keys for fixed-list of judges details.
  Jenkinsfile_CNP
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-416

#417 fix failed upload test
  test/data/ccd-consented-basic-data.json
  test/data/ccd-contested-basic-data.json
  test/data/ccd-demo-consented-basic-data.json
  test/functional/pages/amend-application-details/amend-application-details.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-417

#411 FR-1942 share documents
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-respSol-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-respSol-nonprod.json
  definitions/contested/json/CaseEvent/CaseEvent-respSol-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-respSolJourney-nonprod.json
  definitions/contested/json/CaseField/CaseField-respSolJourney-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-respSol-nonprod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-411

#418 Update permissions on General Application Directions Document field
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-418

#420 INC5169438 - Call assign to applicant solicitor
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  package.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-420
