Repository hmcts/finrem-ccd-definitions, pull requests merged in 2022-06, with the labels that each got.

#746 DFR-912 releasing ticket to prod
  definitions/contested/json/AuthorisationCaseEvent/AuthorizationCaseEvent-beforeDFR912-prod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-746

#696 Dfr 908 manage bundle event
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-696, no_cleanup

#747 Dfr 1018 send order post state user choice
  charts/finrem-ccd-definitions/values.preview.template.yaml
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  definitions/contested/json/AuthorisationCaseType/AuthorisationCaseType-nonprod.json
  definitions/contested/json/AuthorisationComplexType/AuthorisationComplexType-nonprod.json
  definitions/contested/json/Banner/Banner-nonprod.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-DFR1018SendOrderPostStateOptions-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-prod.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/FixedLists/FixedLists.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-747

#625 DFR-734: Idam super user
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/consented/json/AuthorisationCaseType/AuthorisationCaseType.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-DFR-734-nonprod.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/AuthorisationCaseType/AuthorisationCaseType.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  test/functional/admin_test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-625, no_cleanup

#743 Dfr 936 move scan doc
  charts/finrem-ccd-definitions/values.preview.template.yaml
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  definitions/contested/json/FixedLists/FixedLists.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-743

#759 DFR-1018 refactor
  definitions/contested/json/CaseEventToFields/CaseEventToFields-DFR1018SendOrderPostStateOptions-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-759

#761 DFR-734: Put SU behind feature
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState-DFR-734-nonprod.json
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/consented/json/AuthorisationCaseType/AuthorisationCaseType-DFR-734-nonprod.json
  definitions/consented/json/AuthorisationCaseType/AuthorisationCaseType.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState-DFR-734-nonprod.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/AuthorisationCaseType/AuthorisationCaseType-DFR-734-nonprod.json
  definitions/contested/json/AuthorisationCaseType/AuthorisationCaseType.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-761

#760 DFR-993: amended case field permissions
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-760

#762 DFR997UpdateE2ETests
  Jenkinsfile_nightly
  README.md
  bin/run-crossbrowser-tests.sh
  package.json
  test/functional/codecept.conf.js
  test/functional/consented_test.js
  test/functional/contested_test.js
  test/functional/pages/amend-application-details/amend-application-details.js
  test/functional/pages/applicant-details/applicant-details.js
  test/functional/pages/check-your-answers/check-your-answers.js
  test/functional/pages/common/common.js
  test/functional/pages/divorce-details/divorce-details.js
  test/functional/pages/share-case-in-org/share-case-in-org.js
  test/functional/pages/tab-data-verification/tab-data-verification.js
  test/functional/saucelabs.conf.js
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-762

#764 DFR-1099 add prepareForHearing preCondition state to UploadDraftOrder…
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-764

#765 DFR-645 changed listingInstructor to optional
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-765

#707 DFR-1007 - AC1. Remove specified events from Judge view when in Ready for Hearin…
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  test/functional/contested_test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-707, no_cleanup

#776 DFR-734 - update superuser Role name
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState-DFR-734-nonprod.json
  definitions/consented/json/AuthorisationCaseType/AuthorisationCaseType-DFR-734-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-DFR-734-nonprod.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState-DFR-734-nonprod.json
  definitions/contested/json/AuthorisationCaseType/AuthorisationCaseType-DFR-734-nonprod.json
  test/functional/admin_test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-776

#738 DFR-1093: New Event Update Organisation
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent-DFR-1093-UpdateOrg-nonprod.json
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/consented/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-738
