Repository hmcts/finrem-ccd-definitions, pull requests merged in 2022-01, with the labels that each got.

#557 Fix tests
  package.json
  test/data/ccd-consented-basic-data.json
  test/data/ccd-contested-basic-data.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-557

#541 DFR-535 Case needs to revert to prepareForHearing state
  README.md
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-541

#535 DFR-510 Solicitor view of scheduling & listing tab incomplete
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-535

#538 Update permission judiciary
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-538

#536 DFR-560 Case needs to revert to submitted state
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-536

#552 DFR 505 gate all tab
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  yarn-audit-known-issues
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-552

#560 Fix tests
  test/data/ccd-consented-basic-data.json
  test/data/ccd-contested-basic-data.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-560

#562 Update dep
  package.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-562

#501 DFR-380: Remove solicitor access to general emails
  README.md
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-501
