Repository hmcts/finrem-ccd-definitions, pull requests merged in 2022-09, with the labels that each got.

#845 Dfr 761 consented and contested bs allow civil partnership applications updated
  charts/finrem-ccd-definitions/values.preview.template.yaml
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-845

#850 fix preview yml
  charts/finrem-ccd-definitions/Chart.yaml
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-850

#846 DFR-1292 added 2 new bristol FRCs
  definitions/consented/json/FixedLists/FixedLists.json
  definitions/contested/json/FixedLists/FixedLists.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-846

#838 DFR-1280: Start page to be updated
  definitions/consented/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-838

#824 DFR 1208 general application as a collection
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  test/functional/contested_test.js
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-824

#869 DFR-1323: Enable new events in General Application state
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-869

#858 DFR-1079 bugfix appRepresented flag cleared after amend
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-858

#873 Updated consentOrder functional test part from I.waitForPage('h4', 'C…
  test/functional/pages/consent-order/consent-order.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-873

#874 DFR-1333: General Application to show outcome field for existing comp…
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-874

#851 Update text on application details page
  definitions/consented/json/CaseField/CaseField.json
  test/functional/pages/divorce-details/divorce-details.js
Labels: ns:financial-remedy, prd:finrem, no_cleanup, enable_all_tests_and_scans, rel:finrem-ccd-definitions-pr-851

#880 Nightly dev
  test/functional/pages/amend-application-details/amend-application-details.js
  test/functional/pages/applicant-details/applicant-details.js
  test/functional/pages/check-your-answers/check-your-answers.js
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-880

#882 DFR-1347 solicitor's shouldn't be able to reject general apps
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-882

#879 DFR-1337: enable-more-event-on-general-outcome-state
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-879
