Repository hmcts/finrem-ccd-definitions, pull requests merged in 2022-05, with the labels that each got.

#680 DFR-910: Confidential documents tab
  Jenkinsfile_CNP
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent-nonprod.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/contested/json/ComplexTypes/ComplexTypes-nonprod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-680

#705 DFR-910: Fix reference to FR_UploadConfidentialDocuments in Prod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes-nonprod.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-705

#711 Prevent cleanup with no_cleanup label
  Jenkinsfile_CNP
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-711

#726 Revert "DFR-1076: move noc config to prod jsons"
  charts/finrem-ccd-definitions/values.preview.template.yaml
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent-NoticeOfChange-nonprod.json
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields-prod.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-NoticeOfChange-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-prod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-726

#724 DFR-1073-fix unassigned bug
  charts/finrem-ccd-definitions/values.preview.template.yaml
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-724

#730 Notice of Change - add caseFileSubmitted
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-730

#719 DFR-411 - update frc event
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-updateFRC-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-719

#733 DFR-411 - Feature toggle on
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-updateFRC-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-733

#694 DFR-909 Clean preview env to create case with trial bundle
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-694

#735 Dfr 1082 non digital noc
  definitions/consented/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-735

#736 DFR-1086 Configure Pipeline for Additional Tests
  Jenkinsfile_CNP
  README.md
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-736
