Repository hmcts/finrem-ccd-definitions, pull requests merged in 2022-12, with the labels that each got.

#963 DFR-1625: updated deprecated jenkin callback
  Jenkinsfile_CNP
  Jenkinsfile_nightly
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-963

#967 Dfr 1627 deploy cos preview
  Jenkinsfile_CNP
  charts/finrem-ccd-definitions/values.preview.template.yaml
  definitions/consented/json/AuthorisationComplexType/AuthorisationComplexType.json
  definitions/contested/json/AuthorisationComplexType/AuthorisationComplexType.json
  yarn-audit-known-issues
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-967

#933 Dfr 1318 solicitor schedule form a
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  definitions/contested/json/FixedLists/FixedLists.json
  definitions/contested/json/SearchInputFields/SearchInputFields.json
  definitions/contested/json/SearchResultFields/SearchResultFields.json
  definitions/contested/json/WorkBasketInputFields/WorkBasketInputFields.json
  definitions/contested/json/WorkBasketResultFields/WorkBasketResultFields.json
  test/data/ccd-contested-basic-data.json
  test/data/ccd-demo-contested-basic-data.json
  test/data/ccd-demo-contested-paper-case-basic-data.json
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-933

#976 Dfr 1318 solicitor schedule form a
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  definitions/contested/json/FixedLists/FixedLists.json
  definitions/contested/json/SearchInputFields/SearchInputFields.json
  definitions/contested/json/SearchResultFields/SearchResultFields.json
  definitions/contested/json/WorkBasketInputFields/WorkBasketInputFields.json
  definitions/contested/json/WorkBasketResultFields/WorkBasketResultFields.json
  test/data/ccd-contested-basic-data.json
  test/data/ccd-demo-contested-basic-data.json
  test/data/ccd-demo-contested-paper-case-basic-data.json
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-976

#981 DFR-1678: case number
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-981
