Repository hmcts/finrem-ccd-definitions, pull requests merged in 2022-02, with the labels that each got.

#565 DFR-594: DFR Urgent Ticket Template (INC5271983) Selecting home court…
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  test/data/ccd-consented-basic-data.json
  test/data/ccd-contested-basic-data.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-565

#580 DFR-854: Upgrade properties-volume for finrem-ccd-defintions
  package.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-580

#582 Update tests
  README.md
  test/data/ccd-consented-basic-data.json
  test/data/ccd-contested-basic-data.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-582

#512 DFR-41 Update court contact details
  README.md
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-512

#583 Update dep
  package.json
  test/data/ccd-consented-basic-data.json
  test/data/ccd-contested-basic-data.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-583

#589 Update tests
  test/data/ccd-consented-basic-data.json
  test/data/ccd-contested-basic-data.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-589

#575 DFR-590: add more precondition states for Upload Case Files
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-575

#596 update dep
  package.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-596

#588 DFR-589 Update general application function in contested CCD convert …
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-588

#600 DFR-529 dummy pr updating judges
  README.md
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-600

#601 DFR-529 update jenkinsfile_cnp to include judge details 7 and 8
  Jenkinsfile_CNP
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-601
