Repository hmcts/finrem-ccd-definitions, pull requests merged in 2022-08, with the labels that each got.

#823 Reconfig for dtspo 9025
  Jenkinsfile_CNP
  README.md
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-823

#822 Update CCD chart - Chart.yaml
  charts/finrem-ccd-definitions/Chart.yaml
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-822

#812 DFR-1141: Guidance to reflect 16 digit case number
  definitions/consented/json/CaseField/CaseField.json
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-812

#825 Revert "DFR-1231 solicitor permission all access"
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-825

#797 DFR-1066: consented application for variation order
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/consented/json/CaseField/CaseField.json
  definitions/consented/json/CaseTypeTab/CaseTypeTab.json
  definitions/consented/json/ComplexTypes.json
  definitions/consented/json/FixedLists/FixedLists.json
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, Do Not Merge, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-797

#806 DFR-1114: update form c, g and out of family court resolution docs
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-806

#830 upgrade product chart version
  Jenkinsfile_CNP
  charts/finrem-ccd-definitions/Chart.yaml
  package.json
Labels: ns:financial-remedy, Do Not Merge, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-830

#832 DFR-1251: preview build
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, Do Not Merge, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-832

#826 Dfr 1231 solicitor permission all access
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-826

#839 Add backstage configuration file
  catalog-info.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-839
