Repository hmcts/finrem-ccd-definitions, pull requests merged in 2022-07, with the labels that each got.

#781 DFR-1171: allow letter N or J in lower case in Judicial Separation a…
  definitions/consented/json/CaseField/CaseField.json
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-781

#792 DFR-932: Error adding next hearing- dropdown options not available
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-792

#780 DFR-1165: Add ready for hearing event for judge
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-780

#794 DFR-1169: general order preview not available
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-794

#800 Bumping moment to 2.29.4
  package.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-800

#769 Dfr 1118 interim hearing coll
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-769

#801 DFR-1118: interim hearing as a collection - v5
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-DFR-1118-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-801

#805 DFR-1118: interim hearing as a collection
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-DFR-1118-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-805

#768 Dfr 989 approved order
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-768

#779 DFR-907: Added new event for manage case documents.
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-779

#808 DFR-1207: Upgrade Node chart version
  charts/finrem-ccd-definitions/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-808

#811 Bumping file-type to 16.5.4
  package.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-811

#650 CCD PR fro testing DFR-717
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-650

#816 Dfr717 Update AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-816
