Repository hmcts/finrem-ccd-definitions, pull requests merged in 2023-02, with the labels that each got.

#1035 DFR-1508: Approving consent orders (DA)
  definitions/consented/json/CaseField/CaseField.json
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1035

#1034 DFR-1748: FR Consent: Upload documents in'Ready For Hearing' state
  definitions/consented/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1034

#1059 Update Chart.yaml
  charts/finrem-ccd-definitions/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1059

#1056 merge confidential documents tests
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  test/data/confidentialDoc.pdf
  test/data/manageConfidentialDoc.pdf
  test/data/verify-contested-tab-data.json
  test/functional/contested_test.js
  test/functional/pages/allocate-judge/allocate-judge.js
  test/functional/pages/case-authorisation/case-authorisation.js
  test/functional/pages/caseworker-create/caseworker-create.js
  test/functional/pages/create-case/create-case.js
  test/functional/pages/divorce-details/divorce-details.js
  test/functional/pages/issue-application/issue-application.js
  test/functional/pages/manage-confidential-documents/manage-confidential-documents.js
  test/functional/pages/nature-of-application/nature-of-application.js
  test/functional/pages/tab-data-verification/tab-data-verification.js
  test/functional/pages/upload-case-files/upload-case-files.js
  test/functional/steps_file.js
  test/helpers/PuppeteerHelper.js
Labels: ns:financial-remedy, prd:finrem, enable_full_functional_test, rel:finrem-ccd-definitions-pr-1056

#1065 Fix broken master functional test
  test/functional/contested_test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1065

#1051 DFR-1754-Ready-for-Hearing-Event
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent-DFR-1754-nonprod.json
  definitions/consented/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1051

#1023 DFR-1338 adding new event
  charts/finrem-ccd-definitions/values.preview.template.yaml
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/consented/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1023

#1069 DFR-1338 removing pr
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1069

#1070 DFR-1829: Upgrade ccd charts
  charts/finrem-ccd-definitions/Chart.yaml
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1070

#1079 DFR-1396-revison removed JSON object for FR_newPaperCase - copyOfPaper…
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1079

#1062 Dfr 1776 yarn3 upgrade v2
  .gitignore
  .yarn/releases/yarn-3.3.1.cjs
  .yarnrc.yml
  Jenkinsfile_CNP
  bin/consented/generate-excel-aat-consented.sh
  bin/consented/generate-excel-consented.sh
  bin/consented/generate-excel-demo-consented.sh
  bin/consented/generate-excel-demo-prod-like-consented.sh
  bin/consented/generate-excel-ithc-consented.sh
  bin/consented/generate-excel-local-consented.sh
  bin/consented/generate-excel-perftest-consented.sh
  bin/consented/generate-excel-preview-consented.sh
  bin/consented/generate-excel-prod-consented.sh
  bin/consented/generate-json-consented.sh
  bin/contested/generate-excel-aat-contested.sh
  bin/contested/generate-excel-contested.sh
  bin/contested/generate-excel-demo-contested.sh
  bin/contested/generate-excel-demo-prod-like-contested.sh
  bin/contested/generate-excel-ithc-contested.sh
  bin/contested/generate-excel-local-contested.sh
  bin/contested/generate-excel-perftest-contested.sh
  bin/contested/generate-excel-preview-contested.sh
  bin/contested/generate-excel-prod-contested.sh
  bin/contested/generate-json-contested.sh
  bin/setup.sh
  default.env
  package.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1062

#1086 Added missing permission for generalApplicationDirections_highCourtList
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1086

#1076 DFR-1832: Manual payment Copy of form A - convert to pdf
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1076

#1089 DFR-1847: Create General Order event visible to others in case history
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1089

#1085 Dfr 1670 proper officer of the court
  definitions/contested/json/FixedLists/FixedLists.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1085
