Repository hmcts/finrem-ccd-definitions, pull requests merged in 2023-10, with the labels that each got.

#1351 DFR-2347: fr contested remove share documents event for solicitors
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1351

#1293 DFR-2278: FR CONSENT - caseworkers upload approved order
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1293

#1376 DFR-2137: INC5527559 - Exception record not working as expected
  charts/finrem-ccd-definitions/Chart.yaml
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1376

#1291 DFR-2267: prevent uploading encrypted file - draft order
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1291, enable_keep_helm

#1381 Removing duplicate test, and fixing add note test
  test/functional/contested_test.js
  test/functional/pages/add-note/add-note.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1381

#1374 DFR-2393: remove judge amended direction order from case document fro…
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1374

#1360 DFR-694: Contested Consent and Divorce- Updating CCD screen to add th…
  definitions/consented/json/State.json
  definitions/contested/json/State/State.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1360

#1287 DFR-1856 Make app and resp solicitor phone numbers mandatory fields
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1287

#1331 DFR-2341: upload approved order check your answers page needs clearing
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1331

#1373 DFR-1950: schedule-1 child residency
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1373

#1382 Consent test fix
  test/functional/codecept.conf.js
  test/functional/pages/amend-application-details/amend-application-details.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1382

#1369 DFR-2120: FR CONSENT: Amend start page of portal
  definitions/consented/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1369

#1299 DFR-2244 Prevent Respondent Solicitors from submitting Response Event…
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1299

#1350 DFR-2352: add-event-clear-applicant-respondent-solicitor-org-policy
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1350

#1391 Suppressing dep
  .gitignore
  yarn-audit-known-issues
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1391

#1306 DFR-2066 added hearing court so the allocated court on case creation …
  charts/finrem-ccd-definitions/Chart.yaml
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1306

#1333 Dfr 2238 Allow send order consent in contested for interveners
  charts/finrem-ccd-definitions/values.preview.template.yaml
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1333

#1392 DFR-2238-PointToLatestCos
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1392

#1372 DFR-2198: FR Contested -Consent order approved error 'no field found'
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1372

#1389 DFR-1935: rename upload order to process order
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1389

#1237 Dfr 1033 remove feature flag feature use user token
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1237, enable_keep_helm

#1401 DFR-2388: FR Contested: remove duplicated general applications, added…
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1401

#1399 Dfr 2383 Apply list for interim hearing categorisation
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1399
