Repository hmcts/finrem-ccd-definitions, pull requests merged in 2023-01, with the labels that each got.

#993 Bumping json5 and flat
  package.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-993

#952 DFR-1389: Refactor notifications and letters for prepare for hearing
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-952

#995 DFR-1719: General Application Directions not showing
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-995

#988 DFR-1643: FR Contested: Document access for solicitor
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-988

#998 DFR-640: Switch on feature in Prod
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-DFR-640-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-998

#984 Dfr 1550 fr consented update amend application details event
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-984

#966 Dfr 1078 jenkins definitons import
  Jenkinsfile_CNP
  bin/after-data-setup-step.sh
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  package.json
  sonar-project.properties
  src/test/java/finrem/HighLevelDataSetupApp.java
  src/test/resources/ccd_definition/keepme
  test/functional/admin_test.js
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-966

#1001 DFR-1078: Tech Debt - Automate Finrem CCD definitions upload via Jenk…
  Jenkinsfile_CNP
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1001

#1002 Revert "DFR-1078: Tech Debt - Automate Finrem CCD definitions upload via Jenk…"
  Jenkinsfile_CNP
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1002

#991 Dfr 1497 add ready for hearing state
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/consented/json/State.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-991

#939 Dfr 1396 contested fr urgent case question1
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/WorkBasketInputFields/WorkBasketInputFields.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-939

#954 DFR-1458-Update-fixedlists-consented-judgedetails
  Jenkinsfile_CNP
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-954

#958 DFR-1548-Contested-FR-fast-track-question
  charts/finrem-ccd-definitions/Chart.yaml
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-958

#1010 Dfr 1755 fix urgent question not showing
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1010

#1004 Dfr 1078 jenkins definitons auto
  Jenkinsfile_CNP
  bin/after-data-setup-step.sh
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  package.json
  sonar-project.properties
  src/test/java/finrem/HighLevelDataSetupApp.java
  src/test/resources/ccd_definition/keepme
  test/functional/admin_test.js
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1004

#1011 Enabled AAT ccd def upload
  src/test/java/finrem/HighLevelDataSetupApp.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1011

#1012 Fixed ccd def generating issue
  Jenkinsfile_CNP
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1012

#1013 Revert "Fixed ccd def generating issue"
  Jenkinsfile_CNP
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1013

#1014 Revert "Enabled AAT ccd def upload"
  src/test/java/finrem/HighLevelDataSetupApp.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1014

#1015 Revert "Dfr 1078 jenkins definitons auto"
  Jenkinsfile_CNP
  bin/after-data-setup-step.sh
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  package.json
  sonar-project.properties
  src/test/java/finrem/HighLevelDataSetupApp.java
  src/test/resources/ccd_definition/keepme
  test/functional/admin_test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1015

#996 Dfr 1464 ga status event for old case
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-996

#1016 DFR-1758: update chart version
  charts/finrem-ccd-definitions/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1016

#1017 Dfr 1078 jenkins definitons auto fix
  Jenkinsfile_CNP
  bin/after-data-setup-step.sh
  build.gradle
  definitions/contested/json/FixedLists/FixedLists-prod.json
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  package.json
  sonar-project.properties
  src/test/java/finrem/HighLevelDataSetupApp.java
  src/test/resources/ccd_definition/keepme
  test/functional/admin_test.js
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1017

#1024 DFR-1766: Respondent Organisation Policy
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1024

#1027 Enable CCD def auto upload on Prod
  src/test/java/finrem/HighLevelDataSetupApp.java
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1027

#992 DFR-1638: High Court
  charts/finrem-ccd-definitions/values.preview.template.yaml
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/consented/json/CaseField/CaseField.json
  definitions/consented/json/CaseTypeTab/CaseTypeTab.json
  definitions/consented/json/ComplexTypes.json
  definitions/consented/json/FixedLists/FixedLists.json
  definitions/consented/json/WorkBasketInputFields.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  definitions/contested/json/FixedLists/FixedLists.json
  definitions/contested/json/WorkBasketInputFields/WorkBasketInputFields.json
  package.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-992

#1033 Fixed nightly crossbrowser tests
  package.json
  test/functional/saucelabs.conf.js
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1033

#1036 Fixed file name for nightly crossbrowser tests
  test/functional/saucelabs.conf.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1036

#986 DFR-1394: applicant address
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  test/data/ccd-contested-basic-data.json
  test/data/ccd-contested-paper-case-basic-data.json
  test/data/ccd-demo-contested-basic-data.json
  test/data/ccd-demo-contested-paper-case-basic-data.json
Labels: ns:financial-remedy, Do Not Merge, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-986

#1019 Dfr 1345 prevent empty ga
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1019

#1040 DFR-1791: Contested - on Upload order event drop down is not working
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1040
