Repository hmcts/finrem-ccd-definitions, pull requests merged in 2023-08, with the labels that each got.

#1264 Ignoring vulnerabilities with no fix
  .gradle/7.5.1/checksums/checksums.lock
  .gradle/7.5.1/dependencies-accessors/dependencies-accessors.lock
  .gradle/7.5.1/dependencies-accessors/gc.properties
  .gradle/7.5.1/fileChanges/last-build.bin
  .gradle/7.5.1/fileHashes/fileHashes.lock
  .gradle/7.5.1/gc.properties
  .gradle/buildOutputCleanup/buildOutputCleanup.lock
  .gradle/buildOutputCleanup/cache.properties
  .gradle/vcs-1/gc.properties
  yarn-audit-known-issues
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1264

#1255 DFR-2178: Assign Judges access to Urgent Questions textfield
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  yarn-audit-known-issues
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1255

#1269 DFR-2216 adding confidential field to allow compatibility
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1269

#1275 Dep fix
  package.json
  yarn-audit-known-issues
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1275

#1277 Updating document url
  package.json
  test/data/ccd-consented-basic-data.json
  test/data/ccd-contested-basic-data.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1277

#1278 Removing duplicate test
  test/functional/contested_events_test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1278

#1279 Fixing login issue, removing duplicate test and removing nightlytest …
  test/functional/consented_test.js
  test/functional/contested-respondent_test.js
  test/functional/contested_events_test.js
  test/functional/contested_test.js
  test/functional/steps_file.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1279

#1281 Test stability improvements
  test/data/ccd-contested-add-intervener.json
  test/data/ccd-contested-add-represented-intervener.json
  test/data/ccd-contested-consent-order.json
  test/data/ccd-contested-general-order.json
  test/data/ccd-contested-schedule1-solicitor-create-case.json
  test/data/ccd-contested-upload-case-files.json
  test/functional/consented_test.js
  test/functional/contested_events_test.js
  test/functional/steps_file.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1281

#1282 Change properties
  Jenkinsfile_CNP
  test/functional/contested_events_test.js
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1282

#1272 DFR-2220 Allow caseworker to read share selected documents case history
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-1731-nonprod.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1272

#1284 Testing intervener case access
  test/data/verify-contested-tab-data.json
  test/functional/contested_events_test.js
  test/functional/interveners_test.js
  test/functional/pages/manage-interveners/manage-interveners-add.js
  test/functional/pages/tab-data-verification/tab-data-verification.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1284

#1266 Dfr 2157 manage case docs interveners
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  definitions/contested/json/FixedLists/FixedLists-dfr-2117-2157-nonprod.json
  definitions/contested/json/FixedLists/FixedLists.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1266

#1270 DFR-1580 configs for sec doc store
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1270

#1167 Dfr 1730 manage orders
  .gradle/7.5.1/dependencies-accessors/dependencies-accessors.lock
  .gradle/7.5.1/fileHashes/fileHashes.lock
  test/functional/contested_test.js
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1167

#1268 Dfr 2069 Amend general letter correspondence for interveners
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/consented/json/CaseField/CaseField.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  yarn-audit-known-issues
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1268
