Repository hmcts/finrem-ccd-definitions, pull requests merged in 2023-04, with the labels that each got.

#1145 DFR-1977: Elastic/logstash search fix for preview
  charts/finrem-ccd-definitions/Chart.yaml
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1145

#1146 FT sync
  package.json
  test/data/verify-contested-tab-data.json
  test/functional/codecept.conf.js
  test/functional/consented_test.js
  test/functional/contested_test.js
  test/functional/pages/add-note/add-note.js
  test/functional/pages/allocate-judge/allocate-judge.js
  test/functional/pages/caseworker-create/caseworker-create.js
  test/functional/pages/check-your-answers/check-your-answers.js
  test/functional/pages/enter-case-reference/enter-case-reference.js
  test/functional/pages/give-allocation-direction/give-allocation-direction.js
  test/functional/pages/issue-application/issue-application.js
  test/functional/pages/list-for-hearing/list-for-hearing.js
  test/functional/pages/manage-interveners/manage-interveners.js
  test/functional/pages/nature-of-application/nature-of-application.js
  test/functional/pages/progress-to-listing/progress-to-listing.js
  test/functional/pages/tab-data-verification/tab-data-verification.js
  test/functional/pages/update-contact-details/update-contact-details.js
  test/functional/steps_file.js
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1146

#1134 DFR-307: No option for letter to go to Applicant in person on consent…
  charts/finrem-ccd-definitions/values.preview.template.yaml
  definitions/consented/json/FixedLists/FixedLists.json
  definitions/contested/json/FixedLists/FixedLists.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1134

#868 DFR-1286-case-flags
  Dockerfile
  Jenkinsfile_CNP
  charts/finrem-ccd-definitions/values.preview.template.yaml
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent-DFR-1286-nonprod.json
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/consented/json/CaseField/CaseField.json
  definitions/consented/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-DFR-1286-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  package.json
  sonar-project.properties
  test/unit/definitions/consented/CaseTypeTab.test.js
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-868

#1127 DFR-1931: Deploy cos to preview
  charts/finrem-ccd-definitions/Chart.yaml
  charts/finrem-ccd-definitions/values.preview.template.yaml
  charts/finrem-ccd-definitions/values.yaml
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1127
