Repository hmcts/finrem-ccd-definitions, pull requests merged in 2023-06, with the labels that each got.

#1190 updated interver sol reference to MANDATORY
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1190

#1186 Updating renovate config
  .github/renovate.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1186

#1193 DFR-2042: INCIDENT: Incorrect guidance for sols on NOC names
  definitions/consented/json/ChallengeQuestion/ChallengeQuestion.json
  definitions/contested/json/ChallengeQuestion/ChallengeQuestion.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1193

#1196 DFR-2054: INCIDENT: Error message received when adding case flag to case
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1196

#1195 Dfr 2051 refactor intervener config
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1195

#1199 DFR-2065: Fix auth issue
  definitions/contested/json/AuthorisationComplexType/AuthorisationComplexType.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  package.json
  yarn-audit-known-issues
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1199

#1154 DFR-1733: upload case files
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  definitions/contested/json/FixedLists/FixedLists.json
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1154

#1130 DFR-1787: FR Contested and Consented: General letter add attachment
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/consented/json/CaseField/CaseField.json
  definitions/consented/json/ComplexTypes.json
  definitions/consented/json/FixedLists/FixedLists.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  definitions/contested/json/FixedLists/FixedLists.json
  yarn-audit-known-issues
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1130

#1209 Nightly dev
  package.json
  test/data/ccd-consented-case-flag-data.json
  test/data/ccd-contested-basic-data.json
  test/data/ccd-contested-general-application-data.json
  test/data/ccd-contested-general-application-refer-to-judge-data.json
  test/data/ccd-contested-schedule1-solicitor-create-case.json
  test/data/ccd-contested-solicitor-create-case.json
  test/data/ccd-demo-contested-basic-data.json
  test/data/verify-consented-tab-data.json
  test/data/verify-contested-tab-data.json
  test/functional/codecept.conf.js
  test/functional/consented_caseflag_test.js
  test/functional/consented_test.js
  test/functional/contested-respondent_test.js
  test/functional/contested_caseflag_test.js
  test/functional/contested_events_test.js
  test/functional/contested_schedule1_test.js
  test/functional/contested_test.js
  test/functional/general_application_test.js
  test/functional/interveners_test.js
  test/functional/pages/add-note/add-note.js
  test/functional/pages/amend-application-details/amend-application-details.js
  test/functional/pages/create-case-flag/create-case-flag.js
  test/functional/pages/draft-order-approve/draft-order-approve.js
  test/functional/pages/general-application/general-application.js
  test/functional/pages/issue-application/issue-application.js
  test/functional/pages/list-of-interim-hearing/list-of-interim-hearing.js
  test/functional/pages/manage-barrister/manage-barrister.js
  test/functional/pages/manage-confidential-documents/manage-confidential-documents.js
  test/functional/pages/manage-flags/manage-case-flags.js
  test/functional/pages/manage-interveners/manage-interveners.js
  test/functional/pages/manual-payment/manual-payment.js
  test/functional/pages/org-assign-cases/org-assign-cases-to-respondent.js
  test/functional/pages/refund-case/refund-case.js
  test/functional/pages/saving-application-information/saving-application-information.js
  test/functional/pages/send-order/send-order.js
  test/functional/pages/tab-data-verification/tab-data-verification.js
  test/functional/pages/upload-case-files/upload-case-files.js
  test/functional/pages/upload-draft-order/upload-draft-order.js
  test/functional/pages/upload-order/upload-order.js
  test/functional/steps_file.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1209

#1207 DFR-2043-Incorrect Guidance - changed label
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1207

#1211 Nightly dev
  test/functional/pages/upload-draft-order/upload-draft-order.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1211

#1217 DFR-2060 FR CONSENT: Enable caseworker to upload documents from Suppl…
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1217
