Repository hmcts/finrem-ccd-definitions, pull requests merged in 2023-11, with the labels that each got.

#1405 Lfh test fix
  test/functional/pages/list-for-hearing/list-for-hearing.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1405

#1415 DFR-2388: FR Contested: remove duplicated general applications, added…
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  package.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1415

#1424 Fixing dependencies
  yarn-audit-known-issues
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1424

#1412 DFR-2454: added capability in amendcase event if old cases missing ty…
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1412

#1435 Create stale.yml
  .github/workflows/stale.yml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1435

#1443 Suppressing dependency
  yarn-audit-known-issues
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1443

#1440 Dfr 2434 playwright migration
  Jenkinsfile_CNP
  package.json
  test/functional/admin_test.js
  test/functional/codecept.conf.js
  test/functional/consented_caseflag_test.js
  test/functional/consented_test.js
  test/functional/contested-respondent_test.js
  test/functional/contested_caseflag_test.js
  test/functional/contested_events_test.js
  test/functional/contested_schedule1_test.js
  test/functional/contested_test.js
  test/functional/general_application_test.js
  test/functional/interveners_test.js
  test/functional/smoke_test.js
  test/functional/steps_file.js
  test/helpers/PlaywrightHelper.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1440

#1427 Dfr 2385
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1427

#1448 Master fix
  Jenkinsfile_CNP
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1448

#1353 DFR-2349- Test removal of duplicate list for hearing notifications
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, Do Not Merge, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1353

#1452 Increasing test timeout to 3 hours
  Jenkinsfile_nightly
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1452

#1400 Add category for Manual Payment event doc
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1400

#1446 DFR-2379: Apply categorisations to other Consent docs uploaded
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1446

#1455 DFR-2476: Added crud permission for UploadCaseDocument
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  yarn-audit-known-issues
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1455

#1451 Dfr 2488 vanilla pr to test issue in preview
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1451

#1459 DFR-2476: Added crud permission for appFormEExhibitsCollectionShared …
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1459

#1396 Dfr 2397 upload order
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1396

#1461 DFR-2476: Added crud permission for other fields to superuser
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1461

#1462 Lfh test fix
  test/functional/pages/list-for-hearing/list-for-hearing.js
  test/functional/steps_file.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1462

#1463 DFR-2509: update systemupdate state permission
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1463

#1467 DFR-2492: Identify cases where either applicant or respondent policy …
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1467

#1464 Removal all links to CFV
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/contested/json/CaseField/CaseField-nonprod.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1464

#1475 Selecting correct case flag option
  test/functional/pages/create-case-flag/create-case-flag.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1475

#1473 Renmae amend case cron
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1473

#1414 DFR-2457 adding backwards compatibility for hearing court
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1414
