Repository hmcts/finrem-ccd-definitions, pull requests merged in 2023-07, with the labels that each got.

#1205 Dfr 1768 update general applications for intervener
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  definitions/contested/json/FixedLists/FixedLists.json
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1205

#1221 Revert "Dfr 1768 update general applications for intervener"
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  definitions/contested/json/FixedLists/FixedLists.json
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1221

#1224 DFR-2115: Apply searchable columns to fields
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  src/test/java/finrem/HighLevelDataSetupApp.java
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1224

#1226 DFR-2117: moving uploadcase files change to nonprod
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-DFR-1286-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-dfr-2117-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-dfr-2117-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-dfr-2117-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  definitions/contested/json/FixedLists/FixedLists-dfr-2117-nonprod.json
  definitions/contested/json/FixedLists/FixedLists.json
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1226

#1229 DFR-2099: added nvmrc and npmrc file
  .npmrc
  .nvmrc
  package.json
  src/test/java/finrem/HighLevelDataSetupApp.java
  test/reporter/customReporter.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1229

#1137 Dfr 1731 share selected document with others
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-1731-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  test/unit/definitions/contested/CaseTypeTab.test.js
  yarn-audit-known-issues
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1137

#1225 Dfr 2100 refactor manage case document
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-dfr-2117-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1225

#1241 Adding new @preview tag, and removing nightly-test check
  .npmrc
  .nvmrc
  Jenkinsfile_CNP
  package.json
  test/functional/admin_test.js
  test/functional/consented_test.js
  test/functional/contested-respondent_test.js
  test/functional/contested_events_test.js
  test/functional/contested_test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1241

#1247 Revert "Dfr 2100 refactor manage case document"
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-dfr-2117-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1247

#1248 Dfr 2100 refactor manage case document
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-dfr-2117-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1248

#1252 Creating smoke test
  package.json
  test/functional/smoke_test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1252

#1251 Dfr 2129 preview test change
  Jenkinsfile_CNP
  package.json
  test/functional/admin_test.js
  test/functional/consented_test.js
  test/functional/contested-respondent_test.js
  test/functional/contested_events_test.js
  test/functional/contested_test.js
  test/functional/pages/upload-order/upload-order.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1251

#1243 DFR-2092: enable update contact details on draft order not approved s…
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1243

#1261 Enabling smoke on XBrowser and fixing reports
  bin/run-crossbrowser-tests.sh
  test/functional/saucelabs.conf.js
  test/functional/smoke_test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1261

#1260 DFR-2188 removing tabshow checks as the empty collections should not …
  definitions/contested/json/CaseTypeTab/CaseTypeTab-dfr-2117-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1260
