Repository hmcts/finrem-ccd-definitions, pull requests merged in 2023-12, with the labels that each got.

#1493 Nightly fix
  test/functional/contested_events_test.js
  test/functional/contested_schedule1_test.js
  test/functional/contested_test.js
  test/functional/pages/tab-data-verification/tab-data-verification.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1493

#1394 DFR-2337 Move notifications to send order event
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1394

#1497 Create CDAM pod and link to it
  Jenkinsfile_CNP
  charts/finrem-ccd-definitions/Chart.yaml
  charts/finrem-ccd-definitions/values.preview.template.yaml
  charts/finrem-ccd-definitions/values.yaml
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1497

#1500 DFR-2573: rename 'final Orders' to 'Finalised Orders'
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1500

#1480 Dfr 2518 Categorise general letter collection
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/Categories/Categories.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1480

#1506 Dfr 2433
  definitions/contested/json/Categories/Categories.json
  package.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1506

#1485 DFR-2512 and DFR-2513-categorise general orders and general orders consent
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1485

#1520 Apostrophe test issue
  test/functional/pages/check-your-answers/check-your-answers.js
  test/functional/pages/contested-pages/mediation-questions.js
  test/functional/pages/manage-barrister/manage-barrister.js
  test/functional/pages/manage-interveners/manage-interveners-add.js
  test/functional/pages/tab-data-verification/tab-data-verification.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1520

#1527 Schedule 1 test fix
  test/functional/pages/children-details/children-details.js
  test/functional/pages/contested-pages/apply-court.js
  test/functional/pages/contested-pages/mediation-questions.js
  test/functional/pages/contested-pages/miam-certification.js
  test/functional/pages/nature-of-application/nature-of-application.js
  test/functional/pages/optional-documents/optional-documents.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1527

#1531 DFR-2608 Functional tests organisation and fixes
  test/functional/admin_test.js
  test/functional/consented_caseflag_test.js
  test/functional/consented_test.js
  test/functional/contested-respondent_test.js
  test/functional/contested_caseflag_test.js
  test/functional/contested_events_test.js
  test/functional/contested_schedule1_test.js
  test/functional/contested_test.js
  test/functional/general_application_test.js
  test/functional/interveners_test.js
  test/functional/pages/general-application/general-application.js
  test/functional/pages/give-allocation-direction/give-allocation-direction.js
  test/functional/pages/list-for-hearing/list-for-hearing.js
  test/functional/pages/tab-data-verification/tab-data-verification.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1531
