Repository hmcts/finrem-ccd-definitions, pull requests merged in 2023-09, with the labels that each got.

#1302 DFR-2313: Remove obsolete no-cleanup jenkin label from fr definition
  Jenkinsfile_CNP
  yarn-audit-known-issues
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1302

#1308 DFR-2049: renovate
  .github/renovate.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1308

#1317 DFR-2335: move-from-docker.io-to-azure-registry
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1317

#1316 DFR-2333: amend application details - consented case
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1316

#1332 DFR 2346 consent general letter missing respondents name
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1332
