Repository hmcts/finrem-ccd-definitions, pull requests merged in 2023-03, with the labels that each got.

#1092 DFR-1870: refer to judge show field condition -removed special char
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1092

#1094 DFR-1883: Barrister access- Fix FieldShowCondition
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1094

#1095 DFR-1852: Fix crossbrowser and functioanl test for finrem-ccd-definit…
  Jenkinsfile_CNP
  test/data/fileupload.pdf
  test/functional/consented_test.js
  test/functional/contested_test.js
  test/functional/pages/amend-application-details/amend-application-details.js
  test/functional/pages/applicant-details/applicant-details.js
  test/functional/pages/case-authorisation/case-authorisation.js
  test/functional/pages/caseworker-create/caseworker-create.js
  test/functional/pages/d81-question/d81-question.js
  test/functional/pages/divorce-details/divorce-details.js
  test/functional/pages/nature-of-application/nature-of-application.js
  test/functional/pages/respondent-details/respondent-details.js
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1095

#1075 DFR-205-New Paper Case state
  definitions/consented/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1075

#1098 DFR-1899: Update cpu/memory
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1098

#1058 DFR-1762: Contested - MIAM information found after Form A event
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1058

#1090 New States for Prepare for hearing
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1090

#1101 DFR-1909: New paper case(Schedule 1) in Contested case- Urgent case a…
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1101

#1102 Dfr 1852 fix cb fun tests
  package.json
  test/data/ccd-contested-basic-data.json
  test/data/verify-contested-tab-data.json
  test/functional/codecept.conf.js
  test/functional/consented_test.js
  test/functional/contested_test.js
  test/functional/pages/amend-application-details/amend-application-details.js
  test/functional/pages/applicant-details/applicant-details.js
  test/functional/pages/case-authorisation/case-authorisation.js
  test/functional/pages/caseworker-create/caseworker-create.js
  test/functional/pages/divorce-details/divorce-details.js
  test/functional/pages/nature-of-application/nature-of-application.js
  test/functional/pages/respondent-details/respondent-details.js
  test/functional/pages/solicitor-create/solicitor-create.js
  test/functional/saucelabs.conf.js
  test/helpers/JSWait.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1102

#1104 Disable accessibility
  package.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1104

#1100 DFR-1843: fr high court judiciary options list updated
  definitions/consented/json/FixedLists/FixedLists.json
  definitions/contested/json/FixedLists/FixedLists.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1100

#1113 Dfr 1199 deploy to preview
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1113

#1109 Dfr 1913 update contact consented
  charts/finrem-ccd-definitions/values.preview.template.yaml
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/consented/json/CaseField/CaseField.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1109

#1066 DFR-1574: manage interveners
  definitions/consented/json/RoleToAccessProfiles.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-1574-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseRoles/CaseRoles.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/FixedLists/FixedLists.json
  definitions/contested/json/RoleToAccessProfiles/RoleToAccessProfiles.json
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1066

#1114 Dfr 1873 refactor assign to judge consent in contested
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1114

#1119 DFR-1943: Update CCD chart version
  charts/finrem-ccd-definitions/Chart.yaml
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1119

#1117 DFR-1941: Intervener contact details visiable to judge
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1117

#1118 DFR-648: mediation question amendment
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1118

#1116 DFR-1880: Issue application new pojo, corresponder
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1116

#1121 DFR-1879: Manual Payment Pojo Handler
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1121
