Repository hmcts/finrem-ccd-definitions, pull requests merged in 2023-05, with the labels that each got.

#1163 Update Jenkinsfile_nightly
  Jenkinsfile_nightly
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1163

#1166 Check applicant address not confidential
  test/functional/pages/applicant-details/applicant-details.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1166

#1165 DFR 2004 list for hearing correspondence moved to submit handler
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1165

#1170 DFR-2025: send letter feature toggle
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, Do Not Merge, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1170

#1169 DFR-1734: All email notifications-Intervener solicitor
  charts/finrem-ccd-definitions/values.preview.template.yaml
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1169

#1161 Dfr 1769 update manage barrister
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1161

#1149 Dfr 1693 intevener access
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1149

#1175 Dfr 1717 update intervener sol and bar access
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1175

#1177 Preview PR log to AAT AppInsight
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1177

#1179 DTSPO-13810 reschedule jenkins nightly builds
  Jenkinsfile_nightly
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1179

#1133 Dfr 615 deploy to preview
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, no_cleanup, rel:finrem-ccd-definitions-pr-1133

#1185 DFR-2035: Document Id changed
  charts/finrem-ccd-definitions/values.preview.template.yaml
  test/data/ccd-consented-basic-data.json
  test/data/ccd-contested-basic-data.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1185
