Repository hmcts/finrem-ccd-definitions, pull requests merged in 2024-02, with the labels that each got.

#1587 Nightly dev
  test/functional/consented_caseflag_test.js
  test/functional/contested_caseflag_test.js
  test/functional/contested_events_test.js
  test/functional/contested_test.js
  test/functional/pages/amend-application-details/amend-application-details.js
  test/functional/pages/applicant-details/applicant-details.js
  test/functional/pages/caseworker-create/caseworker-create.js
  test/functional/pages/create-case-flag/create-case-flag.js
  test/functional/pages/give-allocation-direction/give-allocation-direction.js
  test/functional/pages/manage-barrister/manage-barrister.js
  test/functional/pages/manage-flags/manage-case-flags.js
  test/functional/pages/respondent-details/respondent-details.js
  test/functional/pages/solicitor-create/solicitor-create.js
  test/functional/pages/tab-data-verification/tab-data-verification.js
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1587

#1557 DFR-2368: CFV migration job
  charts/finrem-ccd-definitions/values.preview.template.yaml
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1557

#1592 Update PR deployment instructions
  README.md
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1592

#1593 Remove redundant ccd-case-management-web
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1593

#1532 DFR-1393: general order general application recitals optional
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1532

#1540 Dfr 1236 consent order not approved
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/consented/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/consented/json/CaseField/CaseField.json
  definitions/consented/json/ComplexTypes.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1540

#1597 Fix failed test for nightly build
  test/functional/pages/tab-data-verification/tab-data-verification.js
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1597

#1570 DFR-2616: Remove redundant Events and Drop Down Options
  charts/finrem-ccd-definitions/values.preview.template.yaml
  definitions/contested/json/FixedLists/FixedList-dfr-2159-nonprod.json
  definitions/contested/json/FixedLists/FixedLists-prod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1570

#1599 Revert "DFR-2616: Remove redundant Events and Drop Down Options"
  charts/finrem-ccd-definitions/values.preview.template.yaml
  definitions/contested/json/FixedLists/FixedList-dfr-2159-nonprod.json
  definitions/contested/json/FixedLists/FixedLists-prod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1599

#1585 DFR-2671-Move ES1,ES2,Chronology to Joint Docs folder
  definitions/contested/json/Categories/Categories.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, stale, rel:finrem-ccd-definitions-pr-1585

#1575 Dfr 2668 dropdown upload docs cfv
  definitions/contested/json/Categories/Categories.json
  definitions/contested/json/FixedLists/FixedList-dfr-2159-nonprod.json
  definitions/contested/json/FixedLists/FixedLists-prod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, stale, rel:finrem-ccd-definitions-pr-1575

#1603 "DFR-2616: Remove redundant Events and Drop Down Options""
  definitions/contested/json/FixedLists/FixedList-dfr-2159-nonprod.json
  definitions/contested/json/FixedLists/FixedLists-prod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1603

#1610 Fix failed test nightly2
  .nvmrc
  charts/finrem-ccd-definitions/Chart.yaml
  package.json
  test/functional/interveners_test.js
  test/functional/pages/manage-interveners/manage-interveners-add.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1610

#1589 DFR-2672-Update location Mortgage Capacity folders
  definitions/contested/json/Categories/Categories.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1589

#1594 DFR-2702-Update court name
  definitions/consented/json/FixedLists/FixedLists.json
  definitions/contested/json/FixedLists/FixedLists.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1594

#1622 DFR-2753: FR Restore CaseDocumentType
  definitions/contested/json/FixedLists/FixedList-dfr-2159-nonprod.json
  definitions/contested/json/FixedLists/FixedLists-prod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1622

#1579 DFR-2670-Update CFV Reports Folder
  definitions/contested/json/Categories/Categories.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1579

#1623 DFR-2755: Hide Case
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/State/State.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1623

#1565 Dfr 2284 fix
  .gradle/buildOutputCleanup/buildOutputCleanup.lock
  .gradle/buildOutputCleanup/cache.properties
  definitions/contested/json/Categories/Categories.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  src/test/java/finrem/cfv/CategoriesAssignDisplayOrder.java
  src/test/java/finrem/cfv/CategoriesAssignDisplayOrderTest.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1565

#1618 DFR-2759 Definition is failed to load then finrem-ccd-definition pipeline should stop
  src/test/java/finrem/HighLevelDataSetupApp.java
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1618

#1544 DFR-2466 removing divorce field from Notice of change
  definitions/consented/json/ChallengeQuestion/ChallengeQuestion.json
  definitions/contested/json/ChallengeQuestion/ChallengeQuestion.json
  test/functional/pages/notice-of-change/notice-of-change.js
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1544

#1644 Shutter contested cases
  definitions/contested/json/AuthorisationCaseType/AuthorisationCaseType.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1644

#1643 Shutter contested case test
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1643

#1647 Un-shutter Contested cases
  definitions/contested/json/AuthorisationCaseType/AuthorisationCaseType.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1647

#1637 DFR-2734: FR Contested: Updates to documents dropdown in manage case …
  definitions/contested/json/Categories/Categories.json
  definitions/contested/json/FixedLists/FixedList-dfr-2159-nonprod.json
  definitions/contested/json/FixedLists/FixedLists-prod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1637

#1640 DFR-2649-Update list for interim hearing document prompt
  definitions/consented/json/ComplexTypes.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1640

#1651 DFR-2789: preview elastic search -v2
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1651

#1627 DFR-2749: Reject order other reason box available as an optional
  definitions/consented/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/consented/json/ComplexTypes.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1627

#1638 DFR-2769-Update fixed list format in prod
  definitions/contested/json/FixedLists/FixedLists-prod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1638

#1590 Intervener share selected document fixes
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1590
