Repository hmcts/finrem-ccd-definitions, pull requests merged in 2024-11, with the labels that each got.

#2080 Consent Application requires Organisation ID validation
  definitions/consented/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  playwright-e2e/functional/consented/create_case/validate_app_org_id.spec.ts
  playwright-e2e/pages/create-case/SolicitorDetailsPage.ts
  playwright-e2e/pages/helpers/SolicitorDetailsHelper.ts
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2080

#2109 DFR-3413 - Group Draft Order CCD configs to a single nonprod json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/DraftOrders-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/contested/json/AuthorisationCaseField/DraftOrders-nonprod.json
  definitions/contested/json/CaseEvent/CaseEvent-nonprod.json
  definitions/contested/json/CaseEvent/DraftOrders-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DraftOrders-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/contested/json/CaseEventToFields/DraftOrders-nonprod.json
  definitions/contested/json/CaseField/CaseField-nonprod.json
  definitions/contested/json/CaseField/DraftOrders-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/contested/json/CaseTypeTab/DraftOrders-nonprod.json
  definitions/contested/json/ComplexTypes/ComplexTypes-nonprod.json
  definitions/contested/json/ComplexTypes/DraftOrders-nonprod.json
  definitions/contested/json/ComplexTypes/FR_AgreedDraftOrders-nonprod.json
  definitions/contested/json/ComplexTypes/FR_AgreedPensionSharingAnnexes-nonprod.json
  definitions/contested/json/ComplexTypes/FR_uploadAgreedDraftOrder-nonprod.json
  definitions/contested/json/FixedLists/DraftOrders-nonprod.json
  definitions/contested/json/FixedLists/FR_fl_AgreedDraftOrderResubmission-nonprod.json
  definitions/contested/json/FixedLists/FixedLists-nonprod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2109

#2105 DFR-3234 update eslint
  .eslintignore
  .eslintrc.json
  eslint.config.mjs
  index.js
  package.json
  playwright-e2e/fixtures/axe-fixture.ts
  playwright-e2e/functional/consented/create_case/create_case.spec.ts
  playwright-e2e/functional/contested/create_case/create_case.spec.ts
  playwright-e2e/pages/create-case/DivorceDetailsPage.ts
  playwright-e2e/pages/create-case/MiamDetailsPage.ts
  playwright-e2e/pages/create-case/UploadOrderDocumentPage.ts
  playwright.config.ts
  sonar-project.properties
  test/accessibility/runner.js
  test/helpers/JSWait.js
  test/helpers/PlaywrightHelper.js
  test/helpers/SauceLabsBrowserHelper.js
  test/helpers/sauceLabsReportingHelper.js
  test/helpers/utils.js
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2105

#2110 DFR-3190 Playwright in nightly pipeline
  Jenkinsfile_nightly
  package.json
  playwright-e2e/REAME.md
  playwright-e2e/config.ts
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/functional/consented/create_case/create_case.spec.ts
  playwright-e2e/functional/contested/create_case/create_case.spec.ts
  playwright-e2e/pages/SigninPage.ts
  playwright-e2e/pages/create-case/DivorceDetailsPage.ts
  playwright-e2e/pages/create-case/MiamDetailsPage.ts
  playwright-e2e/pages/create-case/SolicitorDetailsPage.ts
  playwright-e2e/pages/create-case/UploadOrderDocumentPage.ts
  playwright-e2e/pages/helpers/CommonActionsHelper.ts
  playwright.config.ts
  test/helpers/PlaywrightHelper.js
  tsconfig.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2110

#2131 Update dependency eslint to v9.15.0
  package.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2131

#2121 Dfr 3068
  .gitignore
  README.md
  definitions/contested/json/AuthorisationCaseField/Refuge-nonprod.json
  definitions/contested/json/CaseEventToFields/Refuge-newPaperCase-nonprod.json
  definitions/contested/json/CaseField/Refuge-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/CaseTypeTab/Refuge-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2121, use-finrem-cos-pr-1965

#2104 DFR-3329: Draft order review overdue send notifications
  definitions/contested/json/ComplexTypes/DraftOrders-nonprod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2104

#2148 VUL-6406: Update vulnerable dependencies
  package.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2148

#2139 Dfr 3105
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToComplexTypes/RefugeIntervener-nonprod.json
  definitions/contested/json/ComplexTypes/RefugeIntervener-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2139, use-finrem-cos-pr-1990
