Repository hmcts/finrem-ccd-definitions, pull requests merged in 2024-01, with the labels that each got.

#1509 DFR-2533: show all general orders in send order
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1509

#1460 DFR-2511-2525-2526-2527
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, stale, rel:finrem-ccd-definitions-pr-1460

#1498 Dfr 1236 consent order not approved
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/consented/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/consented/json/CaseField/CaseField.json
  definitions/consented/json/ComplexTypes.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, stale, rel:finrem-ccd-definitions-pr-1498

#1533 DFR-2612: applicant first name in applicant tab
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1533

#1534 DFR-1236: After text field optional
  definitions/consented/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1534

#1478 DFR-2517-Categorise general email document
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, stale, rel:finrem-ccd-definitions-pr-1478

#1487 Dfr 2159 cfv doc types
  definitions/contested/json/Categories/Categories.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  definitions/contested/json/FixedLists/FixedList-dfr-2159-nonprod.json
  definitions/contested/json/FixedLists/FixedLists-prod.json
  definitions/contested/json/FixedLists/FixedLists.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1487

#1546 DFR-2627 Fix preview deployment
  .nvmrc
  charts/finrem-ccd-definitions/values.preview.template.yaml
  package.json
  test/functional/contested_test.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1546

#1390 DFR-1768- test logging update
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, Do Not Merge, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1390

#1486 DFR-2520 Categorise consented not aproved orders
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1486

#1492 Dfr2167 fdr hearing bundles
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1492

#1541 Dfr 2511 - Fix Intervener hearing doc collection issue
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1541

#1496 DFR-2376 CFV Upload Draft Order Categorisation.
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1496

#1521 DFR-2516 Categorise refusalOrderCollection
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1521

#1507 DFR-2521 Assign Category generalApplicationCollection
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1507

#1508 Dfr 2515-2374
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/Categories/Categories.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, stale, rel:finrem-ccd-definitions-pr-1508

#1522 Categorise orderRefusalCollection
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1522

#1483 Dfr 2461 send order event
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/Categories/Categories.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1483

#1560 Nightly dev
  package.json
  test/functional/consented_caseflag_test.js
  test/functional/consented_test.js
  test/functional/contested-respondent_test.js
  test/functional/contested_caseflag_test.js
  test/functional/contested_events_test.js
  test/functional/contested_schedule1_test.js
  test/functional/contested_test.js
  test/functional/pages/create-case-flag/create-case-flag.js
  test/functional/pages/manage-flags/manage-case-flags.js
  test/functional/pages/org-assign-cases/org-assign-cases-to-respondent.js
  test/functional/pages/tab-data-verification/tab-data-verification.js
  test/helpers/PlaywrightHelper.js
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1560

#1564 Fix for approvedOrders
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1564

#1474 DFR-2380-Update amend approved consent order document categorisation
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1474

#1481 Dfr 1897 upload order event notification
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1481

#1398 Dfr 2401 keep db alive
  charts/finrem-ccd-definitions/Chart.yaml
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1398

#1577 Refactor create general order callbacks
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  test/functional/contested_events_test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1577

#1530 DFR-2328: General application outcome - other field Text to TextArea
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, stale, rel:finrem-ccd-definitions-pr-1530
