Repository hmcts/finrem-ccd-definitions, pull requests merged in 2024-09, with the labels that each got.

#1967 Doc removal move non prod config to prod
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState-nonprod.json
  definitions/consented/json/CaseEvent/CaseEvent-nonprod.json
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/consented/json/CaseEventToComplexTypes/CaseEventToComplexType-nonprod.json
  definitions/consented/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/consented/json/CaseField/CaseField-nonprod.json
  definitions/consented/json/CaseField/CaseField.json
  definitions/consented/json/ComplexTypes/ComplexTypes-nonprod.json
  definitions/consented/json/ComplexTypes/ComplexTypes.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEvent/CaseEvent-nonprod.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField-nonprod.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/ComplexTypes/ComplexTypes-nonprod.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1967

#2008 DFR-3313 Increase tx timeout
  charts/finrem-ccd-definitions/values.preview.template.yaml
  package.json
  src/test/java/finrem/HighLevelDataSetupApp.java
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2008

#1977 Dfr 1708 respondent lodge consent order
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1977

#1980 DFR 3153 Contested Form A Smoke test
  .github/workflows/playwright.yml
  definitions/consented/json/CaseEvent/CaseEvent-nonprod.json
  playwright-e2e/config.ts
  playwright-e2e/data/MIAM.pdf
  playwright-e2e/data/PETITION FORM A.docx
  playwright-e2e/data/Variation order.pdf
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/functional/smoke.spec.ts
  playwright-e2e/pages/BaseJourneyPage.ts
  playwright-e2e/pages/CaseDetailsPage.ts
  playwright-e2e/pages/CheckYourAnswersPage.ts
  playwright-e2e/pages/create-case/ApplicantDetailsPage.ts
  playwright-e2e/pages/create-case/CreateCasePage.ts
  playwright-e2e/pages/create-case/DivorceDetailsPage.ts
  playwright-e2e/pages/create-case/FastTrackProcedurePage.ts
  playwright-e2e/pages/create-case/FinancialAssetsPage.ts
  playwright-e2e/pages/create-case/FinancialRemedyCourtPage.ts
  playwright-e2e/pages/create-case/MiamDetailsPage.ts
  playwright-e2e/pages/create-case/MiamQuestionPage.ts
  playwright-e2e/pages/create-case/NatureOfApplicationPage.ts
  playwright-e2e/pages/create-case/PeriodicalPaymentsPage.ts
  playwright-e2e/pages/create-case/PropertyAdjustmentPage.ts
  playwright-e2e/pages/create-case/RespondentDetailsPage.ts
  playwright-e2e/pages/create-case/RespondentRepresentedPage.ts
  playwright-e2e/pages/create-case/SolicitorDetailsPage.ts
  playwright-e2e/pages/create-case/StartPage.ts
  playwright-e2e/pages/create-case/UploadOrderDocumentPage.ts
  playwright-e2e/pages/create-case/WrittenAgreementPage.ts
  playwright-e2e/pages/formAApplicationPage.ts
  playwright-e2e/pages/helpers/CommonActionsHelper.ts
  playwright-e2e/pages/helpers/SolicitorDetailsHelper.ts
  playwright-e2e/pages/loginPage.ts
  playwright.config.ts
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1980

#2004 DFR-2326 Remove unused consent in contested states and block off related events
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/State/State.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2004

#2022 DFR-3301 INC5645155 - Customer receiving old hearing notices
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-1877, rel:finrem-ccd-definitions-pr-2022

#2029 DFR-3196 Make the links clickable
  definitions/consented/json/CaseField/CaseField.json
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2029
