Repository hmcts/finrem-ccd-definitions, pull requests merged in 2024-03, with the labels that each got.

#1657 Revert parties visibility change
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1657

#1559 DFR-2635-Test creating correct general order based on event run
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  test/functional/contested_events_test.js
  yarn-audit-known-issues
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1559

#1661 approvedOrdersConsentOrderToFinaliseProceedings
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1661

#1666 Fix nightly E2E tests
  .gitignore
  README.md
  test/functional/README.md
  test/functional/pages/allocate-judge/allocate-judge.js
  test/functional/pages/nature-of-application/nature-of-application.js
Labels: ns:financial-remedy, prd:finrem, enable_full_functional_test, rel:finrem-ccd-definitions-pr-1666

#1677 Remove .gradle directory from version control
  .gradle/7.5.1/checksums/checksums.lock
  .gradle/7.5.1/dependencies-accessors/dependencies-accessors.lock
  .gradle/7.5.1/dependencies-accessors/gc.properties
  .gradle/7.5.1/fileChanges/last-build.bin
  .gradle/7.5.1/fileHashes/fileHashes.lock
  .gradle/7.5.1/gc.properties
  .gradle/buildOutputCleanup/buildOutputCleanup.lock
  .gradle/buildOutputCleanup/cache.properties
  .gradle/vcs-1/gc.properties
  test.txt
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1677

#1662 DFR-2821-FixNOCForPaperCases
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1662

#1678 DFR-2891-Update reports to expert reports, combine Mortgage capacities and housing particulars
  definitions/contested/json/Categories/Categories.json
  src/test/java/finrem/cfv/CategoriesAssignDisplayOrder.java
  src/test/java/finrem/cfv/CategoriesToReassign.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1678

#1561 DFR-2336: consent send order
  definitions/consented/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1561

#1684 Fix category name errors
  definitions/contested/json/Categories/Categories.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1684

#1682 DFR-2893 FDR Bundles not consistently being allocated to correct CFV folder
  definitions/contested/json/FixedLists/FixedList-dfr-2159-nonprod.json
  definitions/contested/json/FixedLists/FixedLists-prod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1682

#1688 Add CaseTypeTab update script
  .gitignore
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  src/test/java/finrem/casetypetab/CaseTypeTabJsonUpdater.java
  src/test/java/finrem/casetypetab/tab-display-order.json
  test/functional/admin_test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1688
