Repository hmcts/finrem-ccd-definitions, pull requests merged in 2024-05, with the labels that each got.

#1773 Nighty test fix
  definitions/consented/json/CaseTypeTab/CaseTypeTab.json
  test/data/ccd-consented-basic-data.json
  test/data/ccd-contested-add-intervener.json
  test/data/ccd-contested-add-represented-intervener.json
  test/data/ccd-contested-basic-data.json
  test/data/ccd-contested-consent-order.json
  test/data/ccd-contested-general-order.json
  test/data/ccd-contested-upload-case-files.json
  test/data/ccd-hwf-consented-payment.json
  test/data/ccd-hwf-contested-payment.json
  test/data/verify-consented-tab-data.json
  test/data/verify-contested-tab-data.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1773

#1772 DFR-3003 Old Data Fix for MIAM issue
  definitions/contested/json/FixedLists/FixedLists.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1772

#1781 Enable preview environment builds to set finrem-cos image using GitHub label
  Jenkinsfile_CNP
  README.md
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1781, use-finrem-cos-pr-1686

#1660 DFR-2247, 2248-Upload multiple docs in contested and consented general letter events
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/consented/json/CaseField/CaseField.json
  definitions/consented/json/ComplexTypes.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1660

#1767 Dfr 2918 move send order and send order consent folders
  definitions/contested/json/Categories/Categories.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1767

#1591 DFR-1688 new list for assets
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/FixedLists/FixedLists.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1591

#1782 Reword MIAM question - Update field label text.
  definitions/contested/json/CaseField/CaseField.json
  test/functional/pages/check-your-answers/check-your-answers.js
  test/functional/pages/contested-pages/mediation-questions.js
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1782

#1786 Nightly test fix
  test/functional/pages/check-your-answers/check-your-answers.js
  test/functional/pages/contested-pages/complexity-list.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1786

#1788 Add cfvMigrationVersion field to track CFV updates
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1788, use-finrem-cos-pr-1691

#1755 DFR-2964
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1755

#1790 Disable failing tests as a result of DFR-1688
  test/functional/contested_test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1790

#1791 Add new field to track CFV updates that is searchable
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1791

#1797 DFR-3078 Remove solicitor access to case notes
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1797
