Repository hmcts/finrem-ccd-definitions, pull requests merged in 2024-04, with the labels that each got.

#1711 Bump ccd-test-definitions
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1711

#1626 Enable manage scan docs to selectively update
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes-manageScannedDocs.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1626

#1712 Dfr 2945 Test chronological ordering in preview
  charts/finrem-ccd-definitions/Chart.yaml
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1712

#1709 DFR-2884-Show general order court admin event in history
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1709

#1721 DFR-2953: Revert change to Manage Case Document file upload label
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1721

#1715 DFR-2917 Orders from general application process not going into approved orders tab
  definitions/contested/json/Categories/Categories.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1715

#1729 DFR-2948 Update E2E test data
  test/functional/pages/manage-interveners/manage-interveners-add.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1729

#1724 Add Form G and additional hearing document to Hearing Notices folder
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1724

#1734 DFR-2797 Add CFV to prod for superuser
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseField/CaseField-nonprod.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  src/test/java/finrem/casetypetab/tab-display-order.json
  test/unit/definitions/contested/CaseTypeTab.test.js
  yarn-audit-known-issues
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1734

#1742 caseworker-divorce-systemupdate access to update consentedNotApprovedOrders
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  yarn-audit-known-issues
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1742

#1750 Update nightly build time
  Jenkinsfile_nightly
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1750

#1747 DFR-2881 Test Functionality to move documents to different folders in CFV
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1747

#1735 DFR-2962 Nightly pipeline failing due to missing "PENSION DOCUMENTS"
  test/functional/pages/amend-application-details/amend-application-details.js
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1735

#1754 Remove ccd-test-definitions dependency
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1754

#1743 Dfr 2947 update cfv points of claim and defence
  definitions/contested/json/Categories/Categories.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1743

#1758 Fix nightly build Implement new solicitor1 for Casework add interveners
  test/functional/interveners_test.js
  test/functional/pages/manage-interveners/manage-interveners-add.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1758

#1757 DFR-2955 Create General Application by resp sol goes to wrong folder
  definitions/contested/json/Categories/Categories.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1757

#1761 DFR-3002: Add role restriction to CFV tab
  definitions/contested/json/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1761

#1665 DFR-2811-12, 2816-17, 2894-7, 2874 Update miam sections 2, 3a-d and add E2E tests
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/FixedLists/FixedLists.json
  src/test/java/finrem/cfv/CategoriesAssignDisplayOrder.java
  src/test/java/finrem/cfv/CategoriesToReassign.json
  test/functional/contested_test.js
  test/functional/pages/caseworker-create/caseworker-create.js
  test/functional/pages/check-your-answers/check-your-answers.js
  test/functional/pages/contested-pages/mediation-questions.js
  test/functional/pages/create-case/create-case.js
  test/functional/pages/optional-documents/optional-documents.js
  test/functional/steps_file.js
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1665

#1756 DFR-2916-General-orders-not-going-into-approved-orders-folder
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1756

#1768 Add ccd-test-definitions
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1768

#1771 DFR-3003-Temporary fix miam legacy data
  definitions/contested/json/FixedLists/FixedLists.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1771
