Repository hmcts/finrem-ccd-definitions, pull requests merged in 2024-07, with the labels that each got.

#1823 Dfr 2873 fast track pilot
  definitions/contested/json/FixedLists/FixedLists.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, stale, rel:finrem-ccd-definitions-pr-1823

#1846 Remove npm request and replace with Axios
  package.json
  test/helpers/utils.js
  yarn-audit-known-issues
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1846

#1853 Add to sonar exclusion
  sonar-project.properties
  test/functional/pages/notice-of-change/notice-of-change.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1853

#1876 DFR-2889 workaround
  Jenkinsfile_CNP
  build.gradle
  charts/finrem-ccd-definitions/values.preview.template.yaml
  src/test/java/finrem/HighLevelDataSetupApp.java
  test/functional/admin_test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1876

#1864 DFR-3184: CFV go-live
  definitions/consented/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  test/unit/definitions/consented/CaseTypeTab.test.js
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1864

#1882 Remove CFV superuser tab
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1882

#1822 DFR-3063 Upload warnings on upload document
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-1731, rel:finrem-ccd-definitions-pr-1822

#1879 Remove preview HighLevelDataSetup workaround
  src/test/java/finrem/HighLevelDataSetupApp.java
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1879

#1884 Revert "DFR-3063 Upload warnings on upload document "
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1884

#1871 DFR-3172 Add link to starting page
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1871

#1855 Dfr 3174 general application stuck fix
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, stale, rel:finrem-ccd-definitions-pr-1855

#1888 DFR-3201 Fix E2E tests
  test/functional/contested_test.js
  test/functional/pages/tab-data-verification/tab-data-verification.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1888

#1860 call controller endpoints for each page
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-1775, rel:finrem-ccd-definitions-pr-1860

#1848 DFR-2980-Postcode-field-mandatory
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1848

#1885 DFR-3063/DFR-3195 Upload warnings on upload doc + NPE fix.
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1885, use-finrem-cos-pr-1788

#1827 DFR-3051
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/FixedLists/FixedLists.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1827, use-finrem-cos-pr-1744

#1895 DFR-3064 Fix AAC config in local dev environment
  bin/consented/generate-excel-local-consented.sh
  bin/contested/generate-excel-local-contested.sh
  package.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1895

#1896 Fix local dev CCD config build
  default.env
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1896

#1852 DFR-1886 INC5522721: CS - File name on scanned docs on new paper case
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseField/CaseField.json
  definitions/consented/json/CaseTypeTab/CaseTypeTab.json
  definitions/consented/json/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1852, use-finrem-cos-pr-1768

#1904 DFR-3222: Fix ids for MIAM exemption inputs
  test/functional/pages/contested-pages/mediation-questions.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1904

#1903 Add scannedD81s to Case View if scannedD81Collection empty
  definitions/consented/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1903

#1912 Fix fast XML vulnerability
  package.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1912

#1908 DFR-3228 Odd spacing showing on Fix DFR-3224
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseField/CaseField.json
  definitions/consented/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1908
