Repository hmcts/finrem-ccd-definitions, pull requests merged in 2024-06, with the labels that each got.

#1752 DFR-2944 Concurrency issue in FinremGeneralOrderRaisedCorresponder
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1752

#1807 Use callback handler for Consented Issued submitted event
  definitions/consented/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1807

#1818 Bump braces due to CVE
  package.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1818

#1821 Bump azure identity due to CVE
  package.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1821

#1813 DFR-3117 Refactor ConsentOrderApprovedController
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1813

#1826 Dfr 3119 intermittent header breaking nightly
  test/functional/codecept.conf.js
  test/functional/consented_test.js
  test/functional/pages/consent-order/consent-order.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1826

#1595 DFR-2206: international post
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/consented/json/CaseField/CaseField.json
  definitions/consented/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1595, use-finrem-cos-pr-1547

#1681 Use ccdMidEvent
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-1610, rel:finrem-ccd-definitions-pr-1681

#1831 DFR-3147: Change email check
  test/functional/pages/saving-application-information/saving-application-information.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1831
