Repository hmcts/finrem-ccd-definitions, pull requests merged in 2024-12, with the labels that each got.

#2156 DFR-3084: Adds new refuge field for interveners.
  definitions/contested/json/CaseEventToComplexTypes/Refuge-nonprod.json
  definitions/contested/json/ComplexTypes/Refuge-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2156, use-finrem-cos-pr-2004

#2155 DFR-3460-Refactor-New-PaperCase
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2155, use-finrem-cos-pr-2000

#2133 Dfr 3080
  definitions/contested/json/AuthorisationCaseField/Refuge-nonprod.json
  definitions/contested/json/CaseEventToFields/Refuge-newPaperCase-nonprod.json
  definitions/contested/json/CaseEventToFields/Refuge-nonprod.json
  definitions/contested/json/CaseField/Refuge-nonprod.json
  definitions/contested/json/CaseTypeTab/Refuge-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2133, use-finrem-cos-pr-1981

#2162 DFR-3474 Refactor UpdateContactDetails about to start with callback handler
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-2009, rel:finrem-ccd-definitions-pr-2162

#2135 Dfr 3081
  definitions/contested/json/AuthorisationCaseField/Refuge-nonprod.json
  definitions/contested/json/CaseEventToFields/Refuge-newPaperCase-nonprod.json
  definitions/contested/json/CaseEventToFields/Refuge-nonprod.json
  definitions/contested/json/CaseField/Refuge-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/CaseTypeTab/Refuge-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2135, use-finrem-cos-pr-1985

#2171 DFR-3475 Replace remove-details call with CCD callback
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-2018, rel:finrem-ccd-definitions-pr-2171

#2181 DFR-3083: Including refuge fields in court admin update contact detai…
  definitions/contested/json/CaseEventToFields/Refuge-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2181, use-finrem-cos-pr-2030

#2180 DFR-3494 Add hearing judge to Approve Orders Page.
  definitions/contested/json/CaseEventToComplexTypes/DFR-3332-1-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3332-2-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3332-3-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3332-4-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3332-5-nonprod.json
  definitions/contested/json/ComplexTypes/DFR-3332-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2180, use-finrem-cos-pr-2028

#2179 DFR-3082: Definition amendments so that Paper and Form A applications can be amended
  definitions/contested/json/AuthorisationCaseField/Refuge-nonprod.json
  definitions/contested/json/CaseEventToFields/Refuge-newPaperCase-nonprod.json
  definitions/contested/json/CaseEventToFields/Refuge-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2179, use-finrem-cos-pr-2024

#2138 DFR-3334 Judge Approve Orders - approves or changes
  definitions/contested/json/AuthorisationCaseField/DFR-3334-nonprod.json
  definitions/contested/json/CaseEvent/DFR-3332-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3332-1-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3332-2-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3332-3-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3332-4-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3332-5-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3334-0-nonprod.json
  definitions/contested/json/CaseEventToFields/DFR-3332-nonprod.json
  definitions/contested/json/CaseEventToFields/DFR-3334-nonprod.json
  definitions/contested/json/CaseField/DFR-3334-nonprod.json
  definitions/contested/json/ComplexTypes/DFR-3332-nonprod.json
  definitions/contested/json/ComplexTypes/DFR-3334-nonprod.json
  definitions/contested/json/ComplexTypes/DraftOrders-nonprod.json
  definitions/contested/json/FixedLists/DFR-3334-nonprod.json
Labels: ns:financial-remedy, prd:finrem, use-finrem-cos-pr-1997, rel:finrem-ccd-definitions-pr-2138

#2189 DFR-3495 Capture judge type
  definitions/contested/json/AuthorisationCaseField/DFR-3495-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3495-0-nonprod.json
  definitions/contested/json/CaseEventToFields/DFR-3495-nonprod.json
  definitions/contested/json/CaseField/DFR-3495-nonprod.json
  definitions/contested/json/ComplexTypes/DFR-3335-nonprod.json
  definitions/contested/json/ComplexTypes/DFR-3495-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2189, use-finrem-cos-pr-2050
