Repository hmcts/finrem-ccd-definitions, pull requests merged in 2024-08, with the labels that each got.

#1892 DFR-3046 -update region text
  definitions/consented/json/CaseField/CaseField.json
  definitions/consented/json/ComplexTypes.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1892

#1900 DFR-3167 update label text for isApplicantsHomeCourt
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1900

#1893 DFR-3190 - Implemented playwright and started building smoke test
  .gitignore
  package.json
  playwright-e2e/config.ts
  playwright-e2e/fixtures/axe-fixture.ts
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/fixtures/fixtures.ts
  playwright-e2e/functional/smoke.spec.ts
  playwright-e2e/pages/formAApplicationPage.ts
  playwright-e2e/pages/loginPage.ts
  playwright-e2e/pages/manageCasePage.ts
  playwright.config.ts
  sonar-project.properties
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1893

#1924 Remove minimatch from resolutions
  package.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1924

#1930 Set nightly pipeline to run at 17:45
  Jenkinsfile_nightly
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1930

#1918 Change label text for FRCList
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, stale, rel:finrem-ccd-definitions-pr-1918

#1915 Dfr 3168 add question
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1915, use-finrem-cos-pr-1806

#1937 add question to e2e tests
  test/functional/pages/contested-pages/apply-court.js
  yarn-audit-known-issues
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1937

#1938 Dfr 2264 paper form a not visible to judges
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1938

#1923 DFR-3232 Added scripts to fullFunctionalTest and crossBrowserTest in …
  Jenkinsfile_nightly
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1923

#1935 DFR-2890 CT & CS: Consented paper case NOC issues
  definitions/consented/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-1818, rel:finrem-ccd-definitions-pr-1935

#1954 Dfr 2748 release cfv solicitors
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1954

#1955 Dfr 3235 CVE updates
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1955

#1959 Dfr 3260 update cvs
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1959

#1947 DFR-2795 CT: Upload documents- confidential document warning
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1947

#1966 Comment out failing tests
  bin/run-crossbrowser-tests.sh
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-1966
