Repository hmcts/finrem-ccd-definitions, pull requests merged in 2024-10, with the labels that each got.

#2036 Dfr 3302 select event question
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/contested/json/CaseEvent/CaseEvent-nonprod.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/contested/json/CaseField/CaseField-nonprod.json
  definitions/contested/json/FixedLists/FixedLists-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2036

#2039 Fix cookie CVE
  package.json
  yarn-audit-known-issues
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2039

#1957 Dfr 3249 clear organisation policy
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/consented/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1957, use-finrem-cos-pr-1832

#2053 DFR-3321: Draft orders tab
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/contested/json/CaseField/CaseField-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/contested/json/ComplexTypes/ComplexTypes-nonprod.json
  definitions/contested/json/FixedLists/FixedLists-nonprod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2053

#2054 Add draft orders to Case Documents
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/contested/json/CaseField/CaseField-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/contested/json/ComplexTypes/ComplexTypes-nonprod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2054

#2057 DFR-3304: Add Upload draft orders submitted handler
  definitions/contested/json/CaseEvent/CaseEvent-nonprod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2057

#2056 DFR-3388(DFR-3319-1) Upload Agreed Draft Order Page
  definitions/contested/json/CaseEventToComplexTypes/FR_draftOrdersTouploadAgreedDraftOrder-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/contested/json/ComplexTypes/FR_AgreedDraftOrders_nonprod.json
  definitions/contested/json/ComplexTypes/FR_AgreedPensionSharingAnnexes-nonprod.json
  definitions/contested/json/ComplexTypes/FR_uploadAgreedDraftOrder-nonprod.json
  definitions/contested/json/FixedLists/FR_fl_AgreedDraftOrderResubmission-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-1909, rel:finrem-ccd-definitions-pr-2056

#1985 DFR-3141: Only enable representation changes if user answers Yes to change in representation
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-1985

#2062 DFR-3319 Mid event to ensure Non-Word documents
  definitions/contested/json/CaseEventToFields/CaseEventToFields-nonprod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2062

#2046 DFR-3303 CT: Select event paragraph
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/contested/json/CaseField/CaseField-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2046

#2060 DFR-3351 Add migration tracking field isNocFixAppliedFlag
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseField/CaseField.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2060, use-finrem-cos-pr-1926

#2068 DFR-3319 Upload agreed order
  definitions/contested/json/CaseEventToComplexTypes/FR_draftOrdersToUploadAgreedDraftOrder-nonprod.json
  definitions/contested/json/ComplexTypes/ComplexTypes-nonprod.json
  definitions/contested/json/ComplexTypes/FR_AgreedDraftOrders_nonprod.json
  definitions/contested/json/ComplexTypes/FR_uploadAgreedDraftOrder-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-1923, rel:finrem-ccd-definitions-pr-2068

#2074 DFR-3321 Populate Data for Draft Order Tab
  definitions/contested/json/ComplexTypes/ComplexTypes-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-1929, rel:finrem-ccd-definitions-pr-2074

#2061 DFR-3304: Upload draft orders
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField-nonprod.json
  definitions/contested/json/CaseEvent/CaseEvent-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/FR_draftOrdersToUploadAgreedDraftOrder-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-nonprod.json
  definitions/contested/json/CaseField/CaseField-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab-nonprod.json
  definitions/contested/json/ComplexTypes/ComplexTypes-nonprod.json
  definitions/contested/json/ComplexTypes/FR_AgreedDraftOrders_nonprod.json
  definitions/contested/json/ComplexTypes/FR_AgreedPensionSharingAnnexes-nonprod.json
  definitions/contested/json/ComplexTypes/FR_uploadAgreedDraftOrder-nonprod.json
  definitions/contested/json/FixedLists/FR_fl_AgreedDraftOrderResubmission-nonprod.json
  definitions/contested/json/FixedLists/FixedLists-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2061, use-finrem-cos-pr-1912

#2089 Fix nonprod.json filename
  definitions/contested/json/ComplexTypes/FR_AgreedDraftOrders-nonprod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2089

#2092 Dfr 3283 consented functional test
  playwright-e2e/config.ts
  playwright-e2e/data/test.pdf
  playwright-e2e/functional/consented/create_case/create_case.spec.ts
  playwright-e2e/functional/contested/create_case/create_case.spec.ts
  playwright-e2e/pages/create-case/ApplicantDetailsPage.ts
  playwright-e2e/pages/create-case/DivorceDetailsPage.ts
  playwright-e2e/pages/create-case/MiamDetailsPage.ts
  playwright-e2e/pages/create-case/PeriodicalPaymentsPage.ts
  playwright-e2e/pages/create-case/RespondentDetailsPage.ts
  playwright-e2e/pages/create-case/RespondentRepresentedPage.ts
  playwright-e2e/pages/create-case/SolicitorDetailsPage.ts
  playwright-e2e/pages/create-case/UploadOrderDocumentPage.ts
  playwright-e2e/pages/helpers/CommonActionsHelper.ts
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2092

#2098 Revert "DFR 3232 Nightly test results"
  Jenkinsfile_nightly
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2098
