Repository hmcts/finrem-ccd-definitions, pull requests merged in 2025-01, with the labels that each got.

#2157 DFR-3335 Judge Approve Orders - refuse or review later
  definitions/contested/json/AuthorisationCaseField/DFR-3332-nonprod.json
  definitions/contested/json/AuthorisationCaseField/DFR-3335-nonprod.json
  definitions/contested/json/AuthorisationCaseField/DFR-3495-nonprod.json
  definitions/contested/json/CaseEvent/DFR-3332-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3332-1-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3332-2-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3332-3-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3332-4-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3332-5-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3495-0-nonprod.json
  definitions/contested/json/CaseEventToFields/DFR-3495-nonprod.json
  definitions/contested/json/CaseField/DFR-3335-nonprod.json
  definitions/contested/json/CaseField/DFR-3495-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/CaseTypeTab/DFR-3335-nonprod.json
  definitions/contested/json/ComplexTypes/DFR-3332-nonprod.json
  definitions/contested/json/ComplexTypes/DFR-3335-nonprod.json
  definitions/contested/json/ComplexTypes/DFR-3495-nonprod.json
  definitions/contested/json/ComplexTypes/DraftOrders-nonprod.json
  definitions/contested/json/FixedLists/DraftOrders-nonprod.json
Labels: ns:financial-remedy, prd:finrem, stale, rel:finrem-ccd-definitions-pr-2157, use-finrem-cos-pr-2021

#2199 DFR-3478: Prevent duplication of additional documents
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, stale, use-finrem-cos-pr-2053, rel:finrem-ccd-definitions-pr-2199

#2197 DFR-3401 Test remaining scenarios
  definitions/contested/json/AuthorisationCaseEvent/DFR-3332-nonprod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2197, use-finrem-cos-pr-2051

#2204 DFR-3391: Update Upload draft orders page headings
  definitions/contested/json/CaseEventToFields/DraftOrders-nonprod.json
  definitions/contested/json/CaseField/DraftOrders-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2204

#2206 DFR-3487: Draft orders - remove consent order link for interveners
  definitions/contested/json/AuthorisationCaseField/DraftOrders-nonprod.json
  definitions/contested/json/CaseEventToFields/DraftOrders-nonprod.json
  definitions/contested/json/CaseField/DraftOrders-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2206, use-finrem-cos-pr-2063

#2192 Dfr 3333 judge approve orders cya and success pages
  definitions/contested/json/AuthorisationCaseField/DFR-3332-nonprod.json
  definitions/contested/json/CaseField/DFR-3335-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2192, use-finrem-cos-pr-2048

#2193 DFR-3502: Deploys Refuge to prod by moving non-prod config to prod
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseField/Refuge-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToComplexTypes/Refuge-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseEventToFields/Refuge-newPaperCase-nonprod.json
  definitions/contested/json/CaseEventToFields/Refuge-nonprod.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseField/Refuge-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/CaseTypeTab/Refuge-nonprod.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  definitions/contested/json/ComplexTypes/Refuge-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, stale, rel:finrem-ccd-definitions-pr-2193

#2227 DFR-3429: Add sonar exclusions
  sonar-project.properties
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2227

#2186 DFR-3129: Add PFD NCDR documents
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, stale, rel:finrem-ccd-definitions-pr-2186, use-finrem-cos-pr-2038

#2231 DFR-3529 Rename to extraReportFieldsInput
  definitions/contested/json/AuthorisationCaseField/DFR-3495-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3495-0-nonprod.json
  definitions/contested/json/CaseEventToFields/DFR-3495-nonprod.json
  definitions/contested/json/CaseField/DFR-3495-nonprod.json
  definitions/contested/json/ComplexTypes/DFR-3495-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-2080

#2218 Dfr 3448 refuge resident
  playwright-e2e/functional/contested/create_case/create_case.spec.ts
  playwright-e2e/functional/contested/create_case/create_case_caseworker.spec.ts
  playwright-e2e/pages/events/create-case/ApplicantDetailsPage.ts
  playwright-e2e/pages/events/create-case/CreateCaseCheckYourAnswersPage.ts
  playwright-e2e/pages/events/create-case/RespondentDetailsPage.ts
  playwright-e2e/pages/helpers/enums/RadioEnum.ts
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2218

#2230 Add originalDocument to prod config
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  definitions/contested/json/ComplexTypes/DFR-3501-nonprod.json
Labels: ns:financial-remedy, prd:finrem

#2211 DFR-3501+3512 Process Order
  definitions/contested/json/AuthorisationCaseField/DFR-3501-nonprod.json
  definitions/contested/json/CaseEvent/CaseEvent-prod.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEvent/DFR-3501-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3501-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-prod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseEventToFields/DFR-3501-nonprod.json
  definitions/contested/json/CaseField/DFR-3501-nonprod.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  definitions/contested/json/FixedLists/DraftOrders-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2211, use-finrem-cos-pr-2066

#2217 DFR-3485: Upload draft orders text updates
  definitions/contested/json/AuthorisationCaseField/DraftOrders-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DraftOrders-nonprod.json
  definitions/contested/json/CaseEventToFields/DraftOrders-nonprod.json
  definitions/contested/json/CaseField/DraftOrders-nonprod.json
  definitions/contested/json/ComplexTypes/DraftOrders-nonprod.json
  definitions/contested/json/FixedLists/DraftOrders-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2217

#2243 DFR-3527 refuge playwright
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  playwright-e2e/README.md
  playwright-e2e/config/case_events.ts
  playwright-e2e/config/config.ts
  playwright-e2e/data/case_data/consented/ccd-consented-case-creation.json
  playwright-e2e/data/case_data/contested/ccd-contested-case-creation.json
  playwright-e2e/data/tab_content/consented/approve_application_tabs.ts
  playwright-e2e/data/tab_content/contested/respondent_assigned_case_tabs.ts
  playwright-e2e/data/tab_content/contested/solicitor_create_case_tabs.ts
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/functional/consented/applicantion_payment_submission.spec.ts
  playwright-e2e/functional/consented/application_payment_submission.spec.ts
  playwright-e2e/functional/consented/approve_application.spec.ts
  playwright-e2e/functional/consented/create_case.spec.ts
  playwright-e2e/functional/consented/hwf_application_accepted.spec.ts
  playwright-e2e/functional/consented/issue_application.spec.ts
  playwright-e2e/functional/consented/send_order.spec.ts
  playwright-e2e/functional/contested/application_payment_submission.spec.ts
  playwright-e2e/functional/contested/assign_respondent_case.spec.ts
  playwright-e2e/functional/contested/create_case/create_case.spec.ts
  playwright-e2e/functional/contested/create_case/create_case_caseworker.spec.ts
  playwright-e2e/functional/e2e.spec.ts
  playwright-e2e/pages/BaseJourneyPage.ts
  playwright-e2e/pages/CaseDetailsPage.ts
  playwright-e2e/pages/ManageCaseDashboardPage.ts
  playwright-e2e/pages/ManageOrgDashboardPage.ts
  playwright-e2e/pages/SigninPage.ts
  playwright-e2e/pages/components/tab.ts
  playwright-e2e/pages/events/application-payment-submission/CaseSubmissionPage.ts
  playwright-e2e/pages/events/application-payment-submission/HelpWithFeesPage.ts
  playwright-e2e/pages/events/application-payment-submission/OrderSummaryPage.ts
  playwright-e2e/pages/events/application-payment-submission/PaymentPage.ts
  playwright-e2e/pages/events/application-payment-submission/SolicitorAuthPage.ts
  playwright-e2e/pages/events/create-case/ApplicantDetailsPage.ts
  playwright-e2e/pages/events/create-case/DivorceDetailsPage.ts
  playwright-e2e/pages/events/create-case/RespondentRepresentedPage.ts
  playwright-e2e/pages/helpers/SolicitorDetailsHelper.ts
  playwright-e2e/smoke/smoke.spec.ts
  playwright.config.ts
  test/functional/contested-respondent_test.js
  test/functional/pages/org-assign-cases/org-assign-cases-to-respondent.js
  test/functional/steps_file.js
Labels: ns:financial-remedy, prd:finrem

#2254 DFR-3544: Add caseworker-financialremedy-rparobot role to prod
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent-rparobot-nonprod.json
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField-rparobot-nonprod.json
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState-rparobot-nonprod.json
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/consented/json/AuthorisationCaseType/AuthorisationCaseType-rparobot-nonprod.json
  definitions/consented/json/AuthorisationCaseType/AuthorisationCaseType.json
  definitions/consented/json/RoleToAccessProfiles/RoleToAccessProfiles-rparobot-nonprod.json
  definitions/consented/json/RoleToAccessProfiles/RoleToAccessProfiles.json
Labels: ns:financial-remedy, prd:finrem

#2234 DFR-3536 Upload of draft orders additional attachments should be rest…
  definitions/contested/json/ComplexTypes/DraftOrders-nonprod.json
Labels: ns:financial-remedy, prd:finrem, use-finrem-cos-pr-2083

#2251 Dfr 3537 playwright tesr form a respondent tab
  playwright-e2e/data/tab_content/contested/caseworker_create_case_tabs.ts
  playwright-e2e/functional/contested/create_case/create_case_caseworker.spec.ts
Labels: ns:financial-remedy, prd:finrem

#2257 Add SECURITY.md
  SECURITY.md
Labels: ns:financial-remedy, prd:finrem

#2209 DFR-2961-CS-Postcode-field
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-2065, rel:finrem-ccd-definitions-pr-2209

#2233 DFR-3529 Approve Order - Generate Cover Letter
  definitions/contested/json/ComplexTypes/DFR-3495-nonprod.json
Labels: ns:financial-remedy, prd:finrem, use-finrem-cos-pr-2082

#2245 DFR-3539 Add solicitor access to refused order collection
  definitions/contested/json/AuthorisationCaseField/DFR-3335-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm

#2220 DFR-3429: Update F&P keyword pre-update
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/consented/json/AuthorisationCaseEvent/DFR-3429-nonprod.json
  definitions/consented/json/AuthorisationCaseEvent/DFR-3429-prod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseEvent/DFR-3429-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/DFR-3429-prod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2220

#2223 DFR-3429: Update F&P keyword post-update
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/consented/json/AuthorisationCaseEvent/DFR-3429-nonprod.json
  definitions/consented/json/AuthorisationCaseEvent/DFR-3429-prod.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseEvent/DFR-3429-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/DFR-3429-prod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2223

#2238 DFR-3525: Enable draft order uploads with no judge
  definitions/contested/json/CaseEventToComplexTypes/DraftOrders-nonprod.json
  definitions/contested/json/ComplexTypes/DraftOrders-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-2090

#2242 DFR-3542 rename to Upload Approve Order
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem

#2213 DFR-3336 Send Order
  definitions/contested/json/AuthorisationCaseField/DFR-3336-nonprod.json
  definitions/contested/json/CaseField/DFR-3336-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/CaseTypeTab/DFR-3336-nonprod.json
  definitions/contested/json/ComplexTypes/DFR-3336-nonprod.json
Labels: ns:financial-remedy, prd:finrem, use-finrem-cos-pr-2069, rel:finrem-ccd-definitions-pr-2213

#2235 DFR-3497: Send refusal order notifications
  definitions/contested/json/ComplexTypes/DFR-3335-nonprod.json
  definitions/contested/json/ComplexTypes/DraftOrders-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-2085, rel:finrem-ccd-definitions-pr-2235
