Repository hmcts/finrem-ccd-definitions, pull requests merged in 2025-02, with the labels that each got.

#2279 DFR-3365 Add variation order warning to NoA page
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/consented/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2279

#2296 DFR-3567: Combine AuthorisationCaseField
  definitions/contested/json/AuthorisationCaseField/DFR-3332-nonprod.json
  definitions/contested/json/AuthorisationCaseField/DFR-3334-nonprod.json
  definitions/contested/json/AuthorisationCaseField/DFR-3335-nonprod.json
  definitions/contested/json/AuthorisationCaseField/DFR-3336-nonprod.json
  definitions/contested/json/AuthorisationCaseField/DFR-3495-nonprod.json
  definitions/contested/json/AuthorisationCaseField/DFR-3501-nonprod.json
  definitions/contested/json/AuthorisationCaseField/DraftOrders-nonprod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2296

#2298 DFR-3567: Combine CaseEvent
  definitions/contested/json/CaseEvent/DFR-3332-nonprod.json
  definitions/contested/json/CaseEvent/DFR-3501-nonprod.json
  definitions/contested/json/CaseEvent/DraftOrders-nonprod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2298

#2299 DFR-3567: Combine CaseEventToComplexTypes
  definitions/contested/json/CaseEventToComplexTypes/DFR-3332-1-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3332-2-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3332-3-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3332-4-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3332-5-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3334-0-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3495-0-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DFR-3501-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/DraftOrders-nonprod.json
  definitions/contested/json/FixedLists/DFR-3332-nonprod.json
  definitions/contested/json/FixedLists/DFR-3334-nonprod.json
  definitions/contested/json/FixedLists/DraftOrders-nonprod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2299

#2301 DFR-3567: Draft orders release
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseEvent/DFR-3332-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/DraftOrders-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseField/DraftOrders-nonprod.json
  definitions/contested/json/AuthorisationComplexType/AuthorisationComplexType.json
  definitions/contested/json/CaseEvent/CaseEvent-prod.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEvent/DraftOrders-nonprod.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToComplexTypes/DraftOrders-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-prod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseEventToFields/DFR-3332-nonprod.json
  definitions/contested/json/CaseEventToFields/DFR-3334-nonprod.json
  definitions/contested/json/CaseEventToFields/DFR-3495-nonprod.json
  definitions/contested/json/CaseEventToFields/DFR-3501-nonprod.json
  definitions/contested/json/CaseEventToFields/DraftOrders-nonprod.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseField/DEPRECATED.json
  definitions/contested/json/CaseField/DraftOrders-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/CaseTypeTab/DFR-3335-nonprod.json
  definitions/contested/json/CaseTypeTab/DFR-3336-nonprod.json
  definitions/contested/json/CaseTypeTab/DraftOrders-nonprod.json
  definitions/contested/json/ComplexTypes/ComplexTypes-prod.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
  definitions/contested/json/ComplexTypes/DFR-3332-nonprod.json
  definitions/contested/json/ComplexTypes/DFR-3334-nonprod.json
  definitions/contested/json/ComplexTypes/DFR-3335-nonprod.json
  definitions/contested/json/ComplexTypes/DFR-3336-nonprod.json
  definitions/contested/json/ComplexTypes/DFR-3495-nonprod.json
  definitions/contested/json/ComplexTypes/DraftOrders-nonprod.json
  definitions/contested/json/FixedLists/DraftOrders-nonprod.json
  definitions/contested/json/FixedLists/FixedLists.json
  test/unit/definitions/contested/CaseTypeTab.test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2301

#2303 DFR-3573 Upload approved order: Remove Purpose of Document
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2303

#2305 DFR-3555 Upload Approved Order event still has draft order wording
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2305

#2317 DFR-3517: Update readme for FixedList judge data
  README.md
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2317

#2313 DFR-3594 CT: Upload Draft Orders - Restrict Agreed PSA To either Word or PDF
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2313

#2282 DFR-3510 enable process order event in certain states
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, stale, use-finrem-cos-pr-2125, rel:finrem-ccd-definitions-pr-2282

#2321 Dfr 3534 cs c8 for pipeline
  definitions/consented/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/consented/json/CaseField/CaseField.json
  definitions/consented/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-2132, rel:finrem-ccd-definitions-pr-2321

#2330 DFR-3517: Add scripts to automate updating judge FixedLists
  .gitignore
  README.md
  bin/judges/backup.sh
  bin/judges/extract.js
  bin/judges/import.js
  bin/judges/sort.js
  bin/judges/split.js
  bin/judges/update-prod-secrets.sh
  bin/judges/validate.js
  bin/split-judges-fixedlist-json.sh
  docs/fixedlists-judges.md
  package.json
  sonar-project.properties
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2330

#2335 DFR-3617 Express Pilot tracking field
  definitions/contested/json/AuthorisationCaseField/ExpressPilot-nonprod.json
  definitions/contested/json/CaseField/ExpressPilot-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2335, use-finrem-cos-pr-2158

#2323 Dfr 3123 paper case assets 250 k
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
  playwright-e2e/README.md
  playwright-e2e/functional/contested/create_case/create_case.spec.ts
  playwright-e2e/functional/contested/create_case/create_case_caseworker.spec.ts
  playwright-e2e/functional/contested/create_case/create_papercase_caseworker.spec.ts
  playwright-e2e/pages/SigninPage.ts
  playwright-e2e/pages/events/create-case/ApplicantDetailsPage.ts
  playwright-e2e/pages/events/create-case/CreateCaseCheckYourAnswersPage.ts
  playwright-e2e/pages/events/create-case/FinancialAssetsPage.ts
  playwright-e2e/pages/events/create-case/SolicitorDetailsPage.ts
  playwright-e2e/pages/helpers/enums/RadioEnum.ts
  playwright-e2e/pages/helpers/enums/RadioEnums.ts
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2323

#2338 Dfr 3520 implement assertions
  playwright-e2e/data/tab_content/consented/admin_notes_tabs.ts
  playwright-e2e/data/tab_content/consented/create_case_tabs.ts
  playwright-e2e/data/tab_content/payment_details_tabs.ts
  playwright-e2e/functional/consented/application_payment_submission.spec.ts
  playwright-e2e/functional/consented/create_case.spec.ts
  playwright-e2e/functional/consented/issue_application.spec.ts
  playwright-e2e/functional/contested/application_payment_submission.spec.ts
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2338

#2364 DFR-3596: Fix to switch from text to label
  definitions/contested/json/CaseField/ExpressPilot-nonprod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2364

#2366 DFR-3596: Fixed local court initialisation in Playwright test
  playwright-e2e/functional/consented/create_case.spec.ts
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2366

#2346 DFR-3416: Upgrade to Java 21
  build.gradle
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2346

#2329 Dfr 3570 ct upload draft orders restrict additional attachments to word or pdf
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2329, use-finrem-cos-pr-2153

#2368 DFR-3624: Update nodejs chart
  charts/finrem-ccd-definitions/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2368

#2367 DFR-3524-Prevent-Draft-Application-Visible-CW
  definitions/consented/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
  test/unit/definitions/consented/UserEventAuthorisation.test.js
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2367
