Repository hmcts/finrem-ccd-definitions, pull requests merged in 2025-03, with the labels that each got.

#2371 Update EP Playwright test to meet enrolment criteria and Fix existing tests
  playwright-e2e/functional/contested/create_case/create_case_caseworker.spec.ts
  playwright-e2e/functional/contested/create_case/create_express_case.spec.ts
  playwright-e2e/functional/contested/create_case/create_papercase_caseworker.spec.ts
  playwright-e2e/pages/events/create-case/CreateCasePage.ts
  playwright-e2e/pages/events/create-case/DivorceDetailsPage.ts
  playwright-e2e/pages/events/create-case/NatureOfApplicationPage.ts
  playwright-e2e/pages/events/create-case/SolicitorDetailsPage.ts
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2371

#2374 DFR-3640: Remove access to draft cases for caseworkers and judiciary
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2374

#2332 DFR-3568 CT - Refer To Judge Event
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2332

#2385 Update RespondentRepresentedPage to populate solictor ref
  playwright-e2e/pages/events/create-case/RespondentRepresentedPage.ts
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2385

#2389 DFR-3643: Fix failing functional tests
  playwright-e2e/functional/consented/create_case.spec.ts
  playwright-e2e/functional/consented/issue_application.spec.ts
  test/data/ccd-contested-basic-data.json
  test/data/ccd-contested-paper-case-basic-data.json
  test/data/ccd-contested-to-consented.json
  test/functional/consented_caseflag_test.js
  test/functional/contested_caseflag_test.js
  test/functional/contested_schedule1_test.js
  test/functional/contested_test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2389

#2390 playwright test fix
  playwright-e2e/pages/CaseDetailsPage.ts
  playwright-e2e/pages/ManageOrgDashboardPage.ts
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2390

#2372 DFR-3518 Update to show schedule 1 benefits decisions
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-2147, rel:finrem-ccd-definitions-pr-2372

#2391 Nightly fix typo
  playwright.config.ts
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2391

#2327 DFR-3556-Allow-CW-Amend-Case-Details
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2327, use-finrem-cos-pr-2155

#2331 DFR-3575 CT: Send Order: Show supporting documents hyperlink
  definitions/contested/json/AuthorisationComplexType/AuthorisationComplexType.json
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2331, use-finrem-cos-pr-2154

#2370 Removed call to update FRC metrics upon selecting court.
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/functional/contested/create_case/create_case.spec.ts
  playwright-e2e/functional/contested/create_case/create_express_case.spec.ts
  playwright-e2e/pages/events/create-case/CreateCaseSavingYourAnswersPage.ts
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2370, use-finrem-cos-pr-2188

#2396 Nightly build fix.
  playwright-e2e/functional/contested/assign_respondent_case.spec.ts
  playwright-e2e/pages/CaseDetailsPage.ts
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2396

#2397 DFR-3623:
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  package.json
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2397

#2306 DFR-3582 CT: Hide hearing judge label when it is empty
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2306

#2361 Dfr 3607 close detail dts divorce and financial remedy ct exception thrown when cancelling another hearing in approve order event
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-2179, rel:finrem-ccd-definitions-pr-2361

#2381 Dfr 3610 playwright tests cs c8 refuge
  playwright-e2e/config/case_events.ts
  playwright-e2e/data/tab_content/consented/update_contact_details_caseworker_tabs.ts
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/functional/consented/update_contact_details.spec.ts
  playwright-e2e/pages/events/create-case/CreateCaseCheckYourAnswersPage.ts
  playwright-e2e/pages/events/update-contact-details/UpdateContactDetailsPage.ts
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2381

#2386 DFR-3442 Applicant Refuge Status Visibility
  playwright-e2e/README.md
  playwright-e2e/config/config.ts
  playwright-e2e/data/payload/contested/issue-application.json
  playwright-e2e/data/payload/contested/manual-payment.json
  playwright-e2e/data/payload/contested/paper_case/ccd-contested-refuge-applicant.json
  playwright-e2e/data/tab_content/contested/applicant_refuge_status_visibility_tabs.ts
  playwright-e2e/functional/contested/applicant_refuge_status_visibility.spec.ts
  playwright-e2e/functional/contested/assign_respondent_case.spec.ts
  playwright-e2e/functional/helpers/CaseAssigmentHelper.ts
  playwright-e2e/pages/ManageOrgDashboardPage.ts
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2386

#2409 Add missing await
  playwright-e2e/functional/contested/assign_respondent_case.spec.ts
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2409

#2410 Missing secret configuration
  Jenkinsfile_CNP
  Jenkinsfile_nightly
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2410

#2404 DFR-3623: Using mid event handler, not set-frc-details
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2404, use-finrem-cos-pr-2205

#2345 DFR-3602 Process Order: Enable caseworker to upload Word doc for new approved order
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2345, use-finrem-cos-pr-2168

#2311 Dfr 3550 draft order still shown after judge approves or rejects it new
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-cos-pr-2129, rel:finrem-ccd-definitions-pr-2311

#2413 Dfr 3601 express pilot dynamic page content
  definitions/contested/json/CaseEventToFields/ExpressPilot-nonprod.json
  definitions/contested/json/CaseField/ExpressPilot-nonprod.json
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/functional/consented/create_case.spec.ts
  playwright-e2e/functional/contested/create_case/create_case.spec.ts
  playwright-e2e/functional/contested/create_case/create_express_case.spec.ts
  playwright-e2e/functional/contested/create_case/create_papercase_caseworker.spec.ts
  playwright-e2e/pages/events/create-case/ExpressCaseEnrolledPage.ts
  playwright-e2e/pages/events/create-case/FinancialRemedyCourtPage.ts
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2413

#2411 Add EP participation to Gatekeeping tab
  definitions/contested/json/AuthorisationCaseField/ExpressPilot-nonprod.json
  definitions/contested/json/CaseField/ExpressPilot-nonprod.json
  definitions/contested/json/CaseTypeTab/ExpressPilot-nonprod.json
  playwright-e2e/data/tab_content/contested/express_case_gatekeeping_tab.ts
  playwright-e2e/functional/contested/create_case/create_express_case.spec.ts
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2411

#2414 DFR-3669: Revert change from DFR-3607
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-2207, rel:finrem-ccd-definitions-pr-2414

#2421 Case Flag Nightly fix
  test/functional/pages/create-case-flag/create-case-flag.js
  test/functional/pages/manage-flags/manage-case-flags.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2421

#2425 DFR-3677: Change Draft orders tab show condition to handle existing cases
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2425

#2403 DFR-3637 hearing notice warn
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
  playwright-e2e/config/case_events.ts
  playwright-e2e/data/case_data/contested/ccd-contested-express-case-creation.json
  playwright-e2e/data/payload/contested/caseworker/HWF-application-accepted.json
  playwright-e2e/data/payload/contested/caseworker/issue-application.json
  playwright-e2e/data/payload/contested/caseworker/manual-payment.json
  playwright-e2e/data/payload/contested/caseworker/progress-to-listing.json
  playwright-e2e/data/payload/contested/solicitor/case-submission.json
  playwright-e2e/data/tab_content/list_for_hearing_tabs.ts
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/functional/contested/applicant_refuge_status_visibility.spec.ts
  playwright-e2e/functional/contested/list_for_hearing/list_for_hearing_express_case.spec.ts
  playwright-e2e/pages/events/list-for-hearing/ListForHearingPage.ts
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-2203, rel:finrem-ccd-definitions-pr-2403

#2422 DFR-3636 remove from express pilot
  definitions/contested/json/AuthorisationCaseEvent/ExpressPilot-nonprod.json
  definitions/contested/json/AuthorisationCaseField/ExpressPilot-nonprod.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEvent/ExpressPilot-nonprod.json
  definitions/contested/json/CaseEventToFields/ExpressPilot-nonprod.json
  definitions/contested/json/CaseField/ExpressPilot-nonprod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2422, use-finrem-cos-pr-2191

#2433 Fix playwright test
  playwright-e2e/data/payload/contested/forma/ccd-contested-express-case-creation.json
  playwright-e2e/functional/contested/list_for_hearing/list_for_hearing_express_case.spec.ts
  playwright-e2e/pages/events/list-for-hearing/ListForHearingPage.ts
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2433

#2427 Dfr 3642 express pilot amend dynamic page content
  definitions/contested/json/AuthorisationCaseField/ExpressPilot-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseEventToFields/ExpressPilot-nonprod.json
  definitions/contested/json/CaseField/ExpressPilot-nonprod.json
  playwright-e2e/pages/events/create-case/ExpressCaseEnrolledPage.ts
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2427, use-finrem-cos-pr-2221

#2434 DFR-3641 Playwright test for Paper Case - Express pilot: Warning notice if out of date
  playwright-e2e/data/payload/contested/paper_case/ccd-contested-express-case-creation.json
  playwright-e2e/functional/contested/list_for_hearing/list_for_hearing_express_case.spec.ts
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2434

#2442 DFR-3644 amend paper case ep pages
  definitions/contested/json/AuthorisationCaseField/ExpressPilot-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
  definitions/contested/json/CaseEventToFields/ExpressPilot-nonprod.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-2229, rel:finrem-ccd-definitions-pr-2442

#2445 DFR-3644-3645 follow up auth fix so that labels show in AAT
  definitions/contested/json/AuthorisationCaseField/ExpressPilot-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2445

#2426 DFR-3067 remove hardcoded values in TabShowCondition
  definitions/consented/json/CaseTypeTab/CaseTypeTab.json
  test/data/verify-consented-tab-data.json
  test/data/verify-contested-tab-data.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-2220, rel:finrem-ccd-definitions-pr-2426

#2437 Dfr 3459 migrate preview tests
  package.json
  playwright-e2e/data/tab_content/consented/create_case_tabs.ts
  playwright-e2e/preview/preview.spec.ts
  test/functional/consented_test.js
  test/functional/contested_test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2437

#2447 DFR-3664: Add new judge secret
  Jenkinsfile_CNP
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2447

#2430 DFR-3682: Enable Upload document event in additional states
  definitions/consented/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2430

#2438 DFR-3681 Playwright test for Manage Express Event
  playwright-e2e/config/case_events.ts
  playwright-e2e/data/payload/contested/forma/ccd-contested-qualified-express-pilot.json
  playwright-e2e/data/payload/contested/paper_case/ccd-contested-qualified-express-pilot.json
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/functional/contested/FR_addSchedulingListingInfo/list_for_hearing_express_case.spec.ts
  playwright-e2e/functional/contested/FR_manageExpressCase/manage_express_case.spec.ts
  playwright-e2e/pages/BaseJourneyPage.ts
  playwright-e2e/pages/events/manage-express-case/ManageExpressCasePage.ts
  playwright-e2e/types/replacement-action.ts
  test/helpers/utils.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2438

#2449 DFR-3686 Playwright test Express warning to judges
  playwright-e2e/config/case_events.ts
  playwright-e2e/data/payload/contested/forma/ccd-contested-base.json
  playwright-e2e/data/payload/contested/paper_case/ccd-contested-base.json
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/functional/contested/FR_addSchedulingListingInfo/list_for_hearing_express_case.spec.ts
  playwright-e2e/functional/contested/FR_giveAllocationDirections/express_case_show_static_warning.spec.ts
  playwright-e2e/functional/contested/FR_manageExpressCase/manage_express_case.spec.ts
  playwright-e2e/functional/helpers/ExpressPilotHelper.ts
  playwright-e2e/functional/helpers/PayloadHelper.ts
  playwright-e2e/pages/BaseJourneyPage.ts
  playwright-e2e/pages/events/give-allocation-directions/GiveAllocationDirectionsPage.ts
  test/helpers/utils.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2449

#2446 DFR-3671 CT - Static warning notice on Express Pilot cases for Judges
  definitions/contested/json/AuthorisationCaseField/ExpressPilot-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseEventToFields/ExpressPilot-nonprod.json
  definitions/contested/json/CaseField/ExpressPilot-nonprod.json
  playwright-e2e/config/case_events.ts
  playwright-e2e/data/payload/contested/forma/ccd-contested-base.json
  playwright-e2e/data/payload/contested/paper_case/ccd-contested-base.json
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/functional/contested/FR_addSchedulingListingInfo/list_for_hearing_express_case.spec.ts
  playwright-e2e/functional/contested/FR_giveAllocationDirections/express_case_show_static_warning.spec.ts
  playwright-e2e/functional/contested/FR_manageExpressCase/manage_express_case.spec.ts
  playwright-e2e/functional/helpers/ExpressPilotHelper.ts
  playwright-e2e/functional/helpers/PayloadHelper.ts
  playwright-e2e/pages/BaseJourneyPage.ts
  playwright-e2e/pages/events/give-allocation-directions/GiveAllocationDirectionsPage.ts
  test/helpers/utils.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2446

#2460 DFR-3671 Missing AuthorisationCaseField
  definitions/contested/json/AuthorisationCaseField/ExpressPilot-nonprod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2460
