Repository hmcts/finrem-ccd-definitions, pull requests merged in 2025-04, with the labels that each got.

#2457 DFR-3685 Playwright test Amend Paper Case for Express
  playwright-e2e/config/case_events.ts
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/functional/contested/FR_addSchedulingListingInfo/list_for_hearing_express_case.spec.ts
  playwright-e2e/functional/contested/FR_amendPaperApplication/amend_application_into_express_pilot.spec.ts
  playwright-e2e/functional/contested/FR_giveAllocationDirections/express_case_show_static_warning.spec.ts
  playwright-e2e/functional/contested/FR_manageExpressCase/manage_express_case.spec.ts
  playwright-e2e/functional/helpers/ExpressPilotHelper.ts
  playwright-e2e/pages/events/amend_application_details/AmendApplicationDetailsPage.ts
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2457

#2448 DFR-2920: Update Form H FixedLists element label
  definitions/contested/json/FixedLists/FixedLists.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2448

#2466 DFR-3698: Enable send letter duplicate check in preview
  charts/finrem-ccd-definitions/values.preview.template.yaml
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-2243, rel:finrem-ccd-definitions-pr-2466

#2470 DRR-3687 EP Judge allocation direction pw
  playwright-e2e/config/case_events.ts
  playwright-e2e/data/tab_content/contested/express_case_gatekeeping_tab.ts
  playwright-e2e/data/tab_content/contested/gatekeeping_and_allocation/express_case_gatekeeping_tab.ts
  playwright-e2e/data/tab_content/contested/gatekeeping_and_allocation/gatekeeping_and_allocation_tab.ts
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/functional/consented/approve_application.spec.ts
  playwright-e2e/functional/contested/FR_addSchedulingListingInfo/list_for_hearing_express_case.spec.ts
  playwright-e2e/functional/contested/FR_amendPaperApplication/amend_application_into_express_pilot.spec.ts
  playwright-e2e/functional/contested/FR_giveAllocationDirections/express_case_show_static_warning.spec.ts
  playwright-e2e/functional/contested/FR_giveAllocationDirections/give_allocation_direction.spec.ts
  playwright-e2e/functional/contested/FR_giveAllocationDirections/give_allocation_direction_express_case.spec.ts
  playwright-e2e/functional/contested/FR_manageExpressCase/manage_express_case.spec.ts
  playwright-e2e/functional/contested/create_case/create_express_case.spec.ts
  playwright-e2e/functional/contested/create_case/create_express_papercase.spec.ts
  playwright-e2e/functional/helpers/CaseDataHelper.ts
  playwright-e2e/functional/helpers/PayloadHelper.ts
  playwright-e2e/pages/events/create-case/ApplicantDetailsPage.ts
  playwright-e2e/pages/events/give-allocation-directions/AllocationDirectionsCourtSelectionPage.ts
  playwright-e2e/pages/events/give-allocation-directions/GiveAllocationDirectionPage.ts
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2470

#2465 Dfr 3684 playwright test amend form a for express
  playwright-e2e/config/case_events.ts
  playwright-e2e/config/config.ts
  playwright-e2e/data/tab_content/contested/gatekeeping_and_allocation/express_case_gatekeeping_tab.ts
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/functional/contested/FR_addSchedulingListingInfo/list_for_hearing_express_case.spec.ts
  playwright-e2e/functional/contested/FR_giveAllocationDirections/give_allocation_direction_express_case.spec.ts
  playwright-e2e/functional/contested/FR_manageExpressCase/manage_express_case.spec.ts
  playwright-e2e/functional/contested/amend_application_details/amend_Form_A_application_details_express_case.spec.ts
  playwright-e2e/functional/contested/amend_application_details/amend_paper_application_into_express_pilot.spec.ts
  playwright-e2e/functional/contested/create_case/create_case.spec.ts
  playwright-e2e/functional/contested/create_case/create_express_case.spec.ts
  playwright-e2e/functional/contested/create_case/create_express_papercase.spec.ts
  playwright-e2e/functional/contested/create_case/create_papercase.spec.ts
  playwright-e2e/functional/helpers/CaseDataHelper.ts
  playwright-e2e/pages/SigninPage.ts
  playwright-e2e/pages/events/amend-application-details/AmendFormAApplicationDetailsPage.ts
  playwright-e2e/pages/events/amend-application-details/AmendPaperApplicationDetailsPage.ts
  playwright-e2e/pages/events/amend-application-details/ExpressCasePage.ts
  playwright-e2e/pages/events/create-case/ExpressCaseEnrolledPage.ts
  playwright-e2e/pages/events/create-case/NatureOfApplicationPage.ts
  playwright-e2e/pages/helpers/ExpressHelper.ts
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2465

#2476 DFR-3700: express pilot non prod config moved to prod defintions
  definitions/contested/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/contested/json/AuthorisationCaseEvent/ExpressPilot-nonprod.json
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/contested/json/AuthorisationCaseField/ExpressPilot-nonprod.json
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEvent/ExpressPilot-nonprod.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseEventToFields/ExpressPilot-nonprod.json
  definitions/contested/json/CaseField/CaseField.json
  definitions/contested/json/CaseField/ExpressPilot-nonprod.json
  definitions/contested/json/CaseTypeTab/CaseTypeTab.json
  definitions/contested/json/CaseTypeTab/ExpressPilot-nonprod.json
  playwright-e2e/data/tab_content/contested/gatekeeping_and_allocation/express_case_gatekeeping_tab.ts
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2476

#2480 Dfr 3704 fix nightly
  playwright-e2e/data/tab_content/contested/gatekeeping_and_allocation/express_case_gatekeeping_tab.ts
  playwright-e2e/functional/consented/create_case.spec.ts
  playwright-e2e/functional/contested/create_case/create_express_papercase.spec.ts
  playwright-e2e/pages/events/create-case/NatureOfApplicationPage.ts
  playwright-e2e/pages/helpers/ExpressHelper.ts
  test/data/ccd-consented-basic-data.json
  test/data/ccd-contested-add-intervener.json
  test/data/ccd-contested-add-represented-intervener.json
  test/data/ccd-contested-basic-data.json
  test/data/ccd-contested-consent-order.json
  test/data/ccd-contested-general-order.json
  test/data/ccd-contested-schedule1-solicitor-create-case.json
  test/data/ccd-contested-upload-case-files.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2480

#2441 DFR-3663 INC5694942 - CS - CCD allowing resp sol to view case pre-issue
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2441

#2412 Dfr 3187 CT CS postcode field not mandatory on case creation
  definitions/consented/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields-newPaperCase.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, use-finrem-cos-pr-2206, rel:finrem-ccd-definitions-pr-2412

#2493 DFR-3714 interim hearing migration
  definitions/contested/json/AuthorisationCaseField/AuthorisationCaseField.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2493

#2337 DFR-3592 Create General Email: no error shown when email fails due to attachment size
  definitions/consented/json/CaseField/CaseField.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
  definitions/contested/json/CaseField/CaseField.json
Labels: ns:financial-remedy, prd:finrem, stale, rel:finrem-ccd-definitions-pr-2337, use-finrem-cos-pr-2160

#2503 fix CW view created case, fix line output in CI
  playwright-e2e/functional/contested/create_case/create_case.spec.ts
  playwright.config.ts
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2503

#2494 DFR-3708: Add superuser access to caseAdded state
  definitions/consented/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/contested/json/AuthorisationCaseState/AuthorisationCaseState.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2494

#2473 DFR-3627 CT&CS: Change to all FRC contact number
  playwright-e2e/data/payload/contested/forma/ccd-contested-base.json
  playwright-e2e/data/payload/contested/solicitor/case-submission.json
Labels: ns:financial-remedy, prd:finrem, use-finrem-cos-pr-2244, rel:finrem-ccd-definitions-pr-2473

#2500 DFR-3719 Caseworker Create Flag Consented
  playwright-e2e/config/case_events.ts
  playwright-e2e/data/tab_content/consented/case_flag_tabs.ts
  playwright-e2e/fixtures/create-fixture.ts
  playwright-e2e/functional/consented/case_flag_tests.spec.ts
  playwright-e2e/pages/BaseJourneyPage.ts
  playwright-e2e/pages/CaseDetailsPage.ts
  playwright-e2e/pages/events/create-flag/CreateFlagPage.ts
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2500

#2507 Nightly Pipeline fix - Remove redundant Codecept test
  test/functional/contested_schedule1_test.js
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2507

#2415 DFR-3629-General-Application-Upload-Spreadsheets
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-2198, rel:finrem-ccd-definitions-pr-2415

#2501 DFR-3694 update oci repository and upgrade ccd version to 9.2.2
  charts/finrem-ccd-definitions/Chart.yaml
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2501
