Repository hmcts/finrem-ccd-definitions, pull requests merged in 2025-09, with the labels that each got.

#2785 Dfr 3652 display new hearing data on general applications tab
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2785, use-finrem-cos-pr-2518

#2793 excluding elements that are known issues
  playwright-e2e/fixtures/utils/axe-utils.ts
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2793

#2805 Add missing Auth for MH events
  definitions/contested/json/AuthorisationCaseEvent/GeneralApplicationDirectionsMH-nonprod.json
  definitions/contested/json/AuthorisationCaseEvent/ManageHearings-nonprod.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2805

#2808 Remove unneeded suppressions
  yarn-audit-known-issues
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2808

#2827 skip flaky PW test
  playwright-e2e/test/contested/FR_amendApplication/amend_form_a_application_details_standard_case.spec.ts
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2827

#2822 dfr-4108-playwright-test-ProcessOrderWithoutHearing
  playwright-e2e/resources/check_your_answer_content/FR_directionOrder/proessOrderTable.ts
  playwright-e2e/test/contested/FR_directionOrder/process-order.spec.ts
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, use-finrem-cos-pr-2555, rel:finrem-ccd-definitions-pr-2822

#2834 DFR-4136 Account for cleveland typo
  definitions/contested/json/ComplexTypes/ComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2834

#2790 DFR-3943-Change displayContext to mandatory
  definitions/contested/json/CaseEventToComplexTypes/CaseEventToComplexTypes.json
Labels: ns:financial-remedy, prd:finrem, enable_keep_helm, rel:finrem-ccd-definitions-pr-2790

#2849 Playwright ignore accessibility violation and add checks for email tests
  playwright-e2e/pages/events/create-general-email/CreateGeneralEmailPage.ts
  playwright-e2e/resources/check_your_answer_content/create_general_email/createGeneralEmailTable.ts
  playwright-e2e/resources/tab_content/consented/case_documents_tab.ts
  playwright-e2e/resources/tab_content/contested/case_documents_tab.ts
  playwright-e2e/test/common-tests/create_general_email.spec.ts
  playwright-e2e/test/contested/FR_judgeDraftDirectionOrder/judge_upload_approved_order.spec.ts
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2849

#2772 DFR-3218 CT CS: Upload warnings on consent order
  definitions/contested/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2772

#2852 DFR-4150 PW - Use Cache to reduce number of idam calls for test data setup
  package.json
  playwright-e2e/config/global-teardown.ts
  playwright-e2e/data-utils/api/CaseAssignmentApi.ts
  playwright-e2e/data-utils/api/CcdApi.ts
  playwright-e2e/data-utils/api/TokenCachingHelper.ts
  playwright-e2e/data-utils/api/TokenHelperApi.ts
  playwright.config.ts
  yarn-audit-known-issues
  yarn.lock
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2852

#2846 DFR-3878-Move Endpoint: /hwf-successful to a handler
  definitions/consented/json/CaseEvent/CaseEvent.json
  definitions/contested/json/CaseEvent/CaseEvent.json
Labels: ns:financial-remedy, prd:finrem, rel:finrem-ccd-definitions-pr-2846
